<!-- Footer start -->
footer(class="section-footer")
    div(class="top-wrapper")
        div(class="container pt-4 pt-md-5 px-4 px-md-0")
            div(class="row")
                div(class="col-md-4")
                    div(class="d-flex align-items-center mb-3")
                        img(src="https://raw.githubusercontent.com/Kartu-Prakerja/skill-week/main/img/img-garuda-id.png" alt="Simbol Garuda Indonesia" width="80" height="88")
                        div(class="px-3") Kementerian Koordinator Bidang Perekonomian Republik Indonesia
                div(class="col-md-8")
                    div(class="quote-box p-4 rounded-3")
                        div(class="d-flex")
                            i(class="bi bi-quote")
                            div(class="ps-3")
                                p(class="paragraph-regular") Program Kartu Prakerja berlanjut pada tahun 2023 dengan skema normal, di mana bantuan pelatihan akan fokus kepada pengembangan kompetensi angkatan kerja, peningkatan produktivitas, dan daya saing angkatan kerja; serta pengembangan kewirausahaan. Pelaksanaan skema normal diatur dalam Peraturan Presiden Nomor 113 Tahun 2022 yang aturan pelaksanaannya tertera pada Permenko Perekonomian Nomor 17 Tahun 2022.
                                div(class="quote-author")
                                    span Airlangga Hartarto, Menteri Koordinator Bidang Perekonomian
            div(class="row my-5")
                div(class="col-lg-2 mb-4 mb-lg-0")
                    h6 Prakerja
                    ul(class="list-footer-menu")
                        li 
                            a(href="https://www.prakerja.go.id/") Beranda 
                        li 
                            a(href="https://www.prakerja.go.id/tentang-prakerja") Tentang Prakerja 
                        li 
                            a(href="https://apply.workable.com/kartu-prakerja/" target="_blank") Karir 
                        //-- <li 
                            a(href="tel:+628001503001") Hubungi Kami 
                div(class="col-lg-2 mb-4 mb-lg-0")
                    h6 Peserta
                    ul(class="list-footer-menu")
                        li
                            a(href="https://dashboard.prakerja.go.id/daftar" target="_blank") Daftar
                        li
                            a(href="https://dashboard.prakerja.go.id/masuk" target="_blank") Masuk
                        li
                            a(href="https://www.prakerja.go.id/tanya-jawab") Tanya Jawab
                        li
                            a(href="https://www.prakerja.go.id/tren-rekrutmen") Tren Rekrutmen
                div(class="col-lg-2 mb-4 mb-lg-0")
                    h6 Ekosistem
                    ul(class="list-footer-menu")
                        li
                            a(href="https://www.prakerja.go.id/lembaga-pelatihan") Lembaga Pelatihan
                        li
                            a(href="https://www.prakerja.go.id/lembaga-pelatihan#list-logo-lp") Mitra Lembaga Pelatihan
                        li
                            a(href="https://www.prakerja.go.id/lembaga-pelatihan#lp-question") FAQ Lembaga Pelatihan
                        li
                            a(href="https://www.prakerja.go.id/lembaga-pelatihan/kriteria-standar-pelatihan") Kriteria Standar Pelatihan
                div(class="col-lg-2 mb-4 mb-lg-0")
                    h6 Lainnya
                    ul(class="list-footer-menu")
                        li
                            a(href="https://www.prakerja.go.id/artikel") Artikel
                        li
                            a(href="https://www.prakerja.go.id/publikasi") Publikasi
                        li
                            a(href="https://www.prakerja.go.id/kebijakan-privasi") Kebijakan Privasi
                        li
                            a(href="https://www.prakerja.go.id/syarat-ketentuan") Syarat Ketentuan
                div(class="col-lg-4")
                    div(class="call-center-box p-4 rounded-3")
                        h6 Pusat Bantuan
                        ul(class="list-footer-menu")
                            li
                                a(href="tel:+628001503001") 
                                    i(class="bi bi-telephone-fill") 
                                    | 080 0150 3001
                                | &nbsp;(Gratis)
                            li 
                                a(href="https://wa.me/6287701503001?text=Halo%2C%20Petugas%20Layanan%20WhatsApp%20Contact%20Center%20Prakerja%2C%20ada%20yang%20saya%20mau%20tanyakan" target="_blank") 
                                    i.bi.bi-whatsapp
                                    | &nbsp;0877 0150 3001 (Chat)
                            li
                                a(href="https://bantuan.prakerja.go.id/hc/id/requests/new")
                                    i.bi.bi-envelope-paper
                                    | &nbsp;Formulir Pengaduan
                            li
                                a(href="https://www.prakerja.go.id/livechat")
                                    i.bi.bi-chat-right-dots
                                    | &nbsp;Live Chat
                        h6(class="mt-4") Jam Operasional
                        ul(class="list-footer-menu")
                            li
                                .d-flex
                                    i.bi.bi-clock &nbsp;
                                    p 
                                        | Senin - Minggu
                                        br
                                        | Pukul 08.00 - 20.00 WIB
    div(class="container py-3")
        div(class="d-lg-flex justify-content-between align-items-center text-center")
            div(class="social-media")
                a(href="https://www.youtube.com/channel/UCXU-nRpRs5Hk9bF3r28rSDA" target="_blank" aria-label="Prakerja Youtube")
                    i(class="bi bi-youtube")
                a(href="https://www.instagram.com/prakerja.go.id/" target="_blank" aria-label="Prakerja Instagram")
                    i(class="bi bi-instagram")
                a(href="https://www.facebook.com/prakerja.go.id/" target="_blank" aria-label="Prakerja Facebook")
                    i(class="bi bi-facebook")
                a(href="https://www.linkedin.com/company/kartu-prakerja/" target="_blank" aria-label="Prakerja Linkedin")
                    i(class="bi bi-linkedin")
            div(class="copyrights mt-3 mt-lg-0")
                span &copy; Kartu Prakerja 2024
    button(class="scroll-top")
        i(class="bi bi-chevron-up")