<!-- Modal Ads -->
//- Ukuran gambar 512x640 px


#adsModal.modal.fade.show(aria-hidden='true' aria-labelledby='adsModal' tabindex='-1')
  .modal-dialog.modal-dialog-centered.pra-modal
    .modal-content
      .modal-header
        h6.modal-title 
          | Siap untuk Scale up?
          br
          | Skill up dengan Webinar #JadiBisa
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-lg-5
        a(href="https://bit.ly/49AWxAc")
          img.w-100(src=baseURL+"img/KV-ISW-Desember_clean.webp", alt="Prakerja Indonesia Skillsweek") 


      .modal-footer.d-flex.justify-content-center
        a.btn.btn-primary(href="https://bit.ly/49AWxAc" target="_blank") 
          | Daftar Webinar Sekarang