//-- Header start
header(class="pdt-header")
    div(class="container px-4 px-md-0")
        div(class="d-flex justify-content-between align-items-center")
            a(href="https://www.prakerja.go.id/")
                img(src="img/logo-indonesia-skills-week.webp" height="54" alt="Indonesia Skills Week")
            ul(class="d-flex align-items-center navbar-custom")
                li(class="nav-item md-hide")
                    a(class="nav-link" href="/pelatihan") Pelatihan
                li(class="nav-item md-hide")
                    a(class="nav-link" href="/coworking") Coworking Space
                li(class="nav-item md-hide")
                    a(class="nav-link" href="#") Modal Produktif
                li(class="nav-item md-hide")
                    a(class="nav-link" href="#") Jaminan Sosial
                li(class="nav-item md-hide")
                    a(href="https://dashboard.prakerja.go.id/daftar?utm_source=skill-week&utm_medium=landing-page&utm_content=button" class="btn btn-primary") Buat Akun Prakerja
                li(class="nav-item md-show")
                    div(class="menu burger-menu" data-menu="13")
                        div(class="icon")