//-- Header start
header.pdt-header
  .container.px-4.px-md-0
    .d-flex.justify-content-between.align-items-center
      a(href='/')
        img(src=baseURL+'img/logo-indonesia-skills-week.webp' height='54' alt='Indonesia Skills Week')
      ul.d-flex.align-items-center.navbar-custom
        li.nav-item.md-hide
          a.nav-link(href='/' class={"nav-link-active" : pageActive === ''}) Beranda
        li.nav-item.md-hide
          a.nav-link(href='/pelatihan/index.html'  class={"nav-link-active" : pageActive === 'pelatihan'}) Pelatihan
        li.nav-item.md-hide
          a.nav-link(href='/coworking/index.html' class={"nav-link-active" : pageActive === 'coworking'}) Coworking Space
        li.nav-item.md-hide
          a.nav-link(href='/#modal-produktif') Modal Produktif
        li.nav-item.md-hide
          a.btn.btn-primary(href='https://dashboard.prakerja.go.id/daftar?utm_source=skill-week&utm_medium=landing-page&utm_content=button') Buat Akun Prakerja
        li.nav-item.md-show
          .menu.burger-menu(data-menu='13')
            .icon
