
//- Message for date announcement 

//- section.section-notification
//-   .container
//-     .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
//-         div.alert-icon-circle.me-2
//-             i.bi.bi-megaphone-fill
//-         div.fs-7
//-             | ISW sudah dibuka dari tanggal
//-             b.color-secondary  21 Juni - 4 Juli 
//-             | 2024.  
//-             //- b.color-secondary 12.00 WIB.
//-             |  Apabila sobat belum punya akun Prakerja, yuk 
//-             a.color-secondary(href="https://dashboard.prakerja.go.id/daftar" target="_blank") Daftar disini
//-         button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
//-


//- Message for closing soon

//- section.section-notification
  .container
    .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
        div.alert-icon-circle.me-2
            i.bi.bi-megaphone-fill
        div.fs-7
            | Batas waktu pembelian pelatihan ISW berakhir pukul 
            b.color-secondary 23:59 WIB 
            | tanggal 
            b.color-secondary 04 Juli 2024.
            |  Segera ambil pelatihan yang kamu minati sebelum masa berakhir!
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')




//- Message for already closed

section.section-notification
  .container
    .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
        div.alert-icon-circle.me-2
            i.bi.bi-megaphone-fill
        div.fs-7
            | Batas waktu pembelian pelatihan di ISW telah berakhir tanggal 
            b.color-secondary 04 Juli 2024.
            |  Tunggu kehadiran ISW berikutnya di <b>Agustus 2024</b> ya...! 
            //- i (Akan diinfokan lebih lanjut) 
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
