section.section-notification
  .container
    .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
        div.alert-icon-circle.me-2
            i.bi.bi-bell-fill
        div
            | ISW berikutnya akan hadir pada tanggal 
            b.color-secondary 8-15 Desember 2023.
            |  Gunakan akun Prakerja untuk masuk ISW, bagi yang belum punya akun 
            a.color-secondary(href="https://dashboard.prakerja.go.id/daftar" target="_blank") Daftar Disini
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
