section.section-notification
  .container
    .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
        div.alert-icon-circle.me-2
            i.bi.bi-megaphone
        div
            | Batas waktu pembelian pelatihan di ISW telah berakhir tanggal 
            b.color-secondary 02 Nov 2023.
            |  Tunggu kehadiran ISW berikutnya ya...! 
            i (Akan diinfokan lebih lanjut)
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
