
//- Message for date announcement 

//- section.section-notification
//-   .container
//-     .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
//-         div.alert-icon-circle.me-2
//-             i.bi.bi-bell-fill
//-         div.fs-7
//-             | ISW berikutnya akan hadir pada tanggal 
//-             b.color-secondary 8-15 Desember 2023.
//-             |  Gunakan akun Prakerja untuk masuk ISW, bagi yang belum punya akun 
//-             a.color-secondary(href="https://dashboard.prakerja.go.id/daftar" target="_blank") Daftar Disini
//-         button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')



//- Message for closing soon

section.section-notification
  .container
    .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
        div.alert-icon-circle.me-2
            i.bi.bi-megaphone-fill
        div.fs-7
            | Batas waktu pembelian pelatihan ISW berakhir pukul 
            b.color-secondary 23:59 WIB 
            | tanggal 
            b.color-secondary 15 Des 2023.
            |  Segera ambil pelatihan yang kamu minati sebelum masa berakhir!
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')




//- Message for already closed

//- section.section-notification
//-   .container
//-     .alert.alert-warning.alert-dismissible.fade.show.d-flex.align-items-center.m-0(role='alert')
//-         div.alert-icon-circle.me-2
//-             i.bi.bi-bell-fill
//-         div.fs-7
//-             | Batas waktu pembelian pelatihan di ISW telah berakhir tanggal 
//-             b.color-secondary 15 Des 2023.
//-             |  Tunggu kehadiran ISW berikutnya ya...! 
//-             i (Akan diinfokan lebih lanjut) 
//-         button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
