
.modal-search-trigger.input-group.custom-search-2.shadow-none.ms-lg-3.me-5.me-lg-0
  .search-wrapper
    //- Mobile view 
    .search-mobile.md-show.justify-content-end

    //- Desktop view 
    .search-desktop.md-hide
      button.btn(type='button')
        i.bi.bi-search
      input.form-control(type='text' aria-label='Search Pelatihan' placeholder='Cari Pelatihan...')


.modal-search
  button.btn.modal-search-close(title="Tutup")
    i.bi.bi-x-lg.fs-2
  .container 
    .modal-search-form.d-flex.mt-5
      form#form-search-global.w-100(action='#search-pelatian')
        input.form-control.modal-search-input(type='text' aria-label='Search Pelatihan' aria-describedby='inputGroup-sizing-default' placeholder='Cari Pelatihan...')
        button.btn.btn-outline-light(type='button')
          i.bi.bi-search

    .row.py-5
      //- Diskon Besar
      #recomendSearchLimited.col-12.col-lg-4.dummy-collumn
        h5 Diskon Besar
        article
          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp200.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp200.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp200.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp200.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp200.000
                span.course-institution Skillvul

      //- Serba 20 Ribu 
      #recomendSearchTwenty.col-12.col-lg-4.dummy-collumn
        h5 Serba 20Ribu
        article
          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp20.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp20.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp20.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp20.000
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price Rp20.000
                span.course-institution Skillvul

      //- Gratis
      #recomendSearchFree.col-12.col-lg-4.dummy-collumn
        h5 Gratis
        article
          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price.free Gratis
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price.free Gratis
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price.free Gratis
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price.free Gratis
                span.course-institution Skillvul

          a.course-list-card.d-flex.align-items-center(href="#")
            img(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0361.png")
            span.d-block.w-100
              span.course-title Internet Of Things (IoT)
              span.d-flex.justify-content-between
                span.course-price.free Gratis
                span.course-institution Skillvul
           
