.share-dialog 
    .share-header 
        h3.dialog-title Bagikan Pelatihan Ini?
        button.close-button
            i.bi.bi-x-lg 
    
    #target-share.targets 
        a#share-facebook.btn(href="https://skillsweek.prakerja.go.id/pelatihan/detail.html" data-share="facebook")
            i.bi.bi-facebook 
            | &nbsp;Facebook 
        
        a#share-twitter.btn(href="https://skillsweek.prakerja.go.id/pelatihan/detail.html" data-share="twitter") 
            i.bi.bi-twitter
            | &nbsp;Twitter 
        
        a#share-linkedin.btn(href="https://skillsweek.prakerja.go.id/pelatihan/detail.html" data-share="linkedin")
            i.bi.bi-linkedin 
            | &nbsp;Linkedin 
        
        a#share-email.btn(href="https://skillsweek.prakerja.go.id/pelatihan/detail.html" data-share="email")
            i.bi.bi-envelope-at 
            | &nbsp;Email 

    .link 
        .pen-url https://skillsweek.prakerja.go.id/pelatihan/detail.html
        button#copy-link.btn.btn-outline-primary Salin
        