.text-danger{
    color: var(--r600)!important;
}

.text-success{
    color: var(--g700)!important;
}

.text-info{
    color: var(--t700)!important;
}

.text-warning{
    color: var(--y800)!important;
}