//- Hetero Banyumas
section
    .container.py-md-5.py-5.px-4.px-md-0
        h3.mb-4 Hetero Space Banyumas
        .row 
            .col-lg-6.overflow-hidden
                //- carousel 
                .owl-carousel.cws-carousel.theme-sabrina.mb-5
                    div
                        img(src='../../img/cws-hetero-bm-p1.webp' alt='Hetero Space Banyumas')
                    div
                        img(src='../../img/cws-hetero-bm-p2.webp' alt='Hetero Space Banyumas')
                    div
                        img(src='../../img/cws-hetero-bm-p3.webp' alt='Hetero Space Banyumas')
                    div
                        img(src='../../img/cws-hetero-bm-p4.webp' alt='Hetero Space Banyumas')
                    div
                        img(src='../../img/cws-hetero-bm-p5.webp' alt='Hetero Space Banyumas')

            .col-lg-6 
                .mb-4 
                    h6.mb-1 Alamat
                    p Jl. Gatot Subroto no. 67 Kranji, Purwokerto Timur

                .mb-4 
                    h6.mb-1 Alamat Google Maps
                    p
                        a.link-primary(href="https://maps.app.goo.gl/JuH7DMftbSxkNv3g6" target="_blank") https://maps.app.goo.gl/JuH7DMftbSxkNv3g6

                .mb-4 
                    h6.mb-1 Nomor Contact Center
                    p
                        a.link-primary(href="tel:+62882002560094") 0882-0025-60094

                .mb-4 
                    h6.mb-1 Program Diskon / Promo
                    p Beli 3 Gratis 1 (Maneka Communal Space)
                        br 
                        | Diskon 20% (Rembug Meeting Room)

                .mb-4 
                    h6.mb-1 Kapasitas Coworking (per hari)
                    p 32

        .row.mt-3 

            .col-lg-6 
                h5.mb-2 Pandunan Registrasi
                ol.pds-list 
                    li Mengisi Form berikut:
                        a.link-primary(href="https://bit.ly/membershipprakerjabms" target="_blank")  https://bit.ly/membershipprakerjabms
                    li Menghubungi Contact Center kami atau datang langsung ke Hetero Space Banyumas
                    li Menunjukkan nomor Kartu Prakerja
                    li Frontliner akan meminta tamu pengguna kartu prakerja mengisi link personal membership
                    li Pengguna kartu prakerja diarahkan ke Maneka 1 (Coworking Space)
                    li Pengguna kartu prakerja diberi password wifi dan arahan untuk dapat menikmati free flow teh/kopi dan juga snack ringan (manis & asin)
                    li Pengguna kartu prakerja dapat menikmati akses wifi 60 mbps dedicated

            .col-lg-6 
                h5.mb-2 Syarat & Ketentuan
                p Kami buka dari Senin - Jumat dari jam 9:00 pagi sampai 6:00 sore. Kami hanya tutup pada Weekend & Public Holiday (Kecuali saat event). Fasilitas:
                ol.pds-list 
                    li Free Flow Drinks & Snacks.
                    li Dedicated Internet Access 60 Mbps.
                    li Pantry Area (Dispenser, Refrigerator, Microwave, Toaster).
                    li Relax Area (Sofa, TV, Games).
                    li Document Center (Printer, ATK).