section
    .container.py-md-3.py-3.px-4.px-md-0
        .row.justify-content-center
            .col-lg-10
                .d-flex.align-items-center
                    .page-cws-logo
                        img(src="../../img/cws-c-hetero-space.webp", alt="Hetero Space")
                    .ps-4 
                        h1.mb-1.mb-lg-4 Hetero Space
                        span.text-secondary
                            i.bi.bi-geo-alt 
                            | Semarang | Solo | Banyumas