//- page nav 
section.section-cws-nav 
    .container 
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../voffice" title="VOffice") 
                i.bi.bi-arrow-left
                | &nbsp;Colabo X VOffice

            a.col-6.cws-link-right(href="../estubizi" title="VOffice") 
                | Estubizi &nbsp;
                i.bi.bi-arrow-right