//- Hetero Solo 
section.bg-s100
    .container.py-md-5.py-5.px-4.px-md-0
        
        .row.justify-content-center
            .col-lg-10 
                h3.mb-4 Hetero Space Solo
                .row 
                    .col-lg-6.overflow-hidden
                        //- carousel 
                        .owl-carousel.cws-carousel.theme-sabrina.mb-5
                            div
                                img(src='../../img/cws-hetero-sl-p1.webp' alt='Hetero Space Solo')
                            div
                                img(src='../../img/cws-hetero-sl-p2.webp' alt='Hetero Space Solo')
                            div
                                img(src='../../img/cws-hetero-sl-p3.webp' alt='Hetero Space Solo')
                            div
                                img(src='../../img/cws-hetero-sl-p4.webp' alt='Hetero Space Solo')

                    .col-lg-6 
                        .mb-4 
                            h6.mb-1 Alamat
                            p Jl. Jend. Urip Sumoharjo No.92, Purwodiningratan, Kec. Jebres, Kota Surakarta, Jawa Tengah 57129

                        .mb-4 
                            h6.mb-1 Alamat Google Maps
                            p
                                a.link-primary(href="https://goo.gl/maps/jDZodEhv13Z9GL3W6" target="_blank") https://goo.gl/maps/jDZodEhv13Z9GL3W6

                        .mb-4 
                            h6.mb-1 Nomor Contact Center
                            p
                                a.link-primary(href="tel:+6282144923302") 0821-4492-3302

                        .mb-4 
                            h6.mb-1 Program Diskon / Promo
                            p Beli 3 Gratis 1 (Maneka Communal Space)
                                br 
                                | Diskon 20% (Rembug Meeting Room)

                        .mb-4 
                            h6.mb-1 Kapasitas Coworking (per hari)
                            p 24

        .row.mt-3.justify-content-center

            .col-lg-10.mb-4.mb-lg-4
                h5.mb-2 Pandunan Registrasi
                ol.pds-list 
                    li Menemui front desk untuk penggunaan ruang komunal. Setelah itu akan diarahkan untuk mengisi link pemesanan coworking:
                        a.link-primary(href="https://bit.ly/membershipprakerjasolo" target="_blank")  https://bit.ly/membershipprakerjasolo
                    li Menghubungi Contact Center kami atau datang langsung ke Hetero Space Solo

            .col-lg-10 
                h5.mb-2 Syarat & Ketentuan
                p Kami buka dari Senin - Jumat dari jam 9:00 pagi sampai 6:00 sore. Kami hanya tutup pada Weekend & Public Holiday (Kecuali saat event). Fasilitas:
                ol.pds-list 
                    li Free Flow Drinks & Snacks.
                    li Dedicated Internet Access 60 Mbps.
                    li Pantry Area (Dispenser, Refrigerator, Microwave, Toaster).
                    li Relax Area (Sofa, TV, Games).
                    li Document Center (Printer, ATK).