//- Hetero Semarang 
section 
    .container.py-md-5.py-5.px-4.px-md-0
        h3.mb-4 Hetero Space Semarang
        .row 
            .col-lg-6.overflow-hidden
                //- carousel 
                .owl-carousel.cws-carousel.theme-sabrina.mb-5
                    div
                        img(src='../../img/cws-hetero-sm-p1.webp' alt='Hetero Space Semarang')
                    div
                        img(src='../../img/cws-hetero-sm-p2.webp' alt='Hetero Space Semarang')
                    div
                        img(src='../../img/cws-hetero-sm-p3.webp' alt='Hetero Space Semarang')
                    div
                        img(src='../../img/cws-hetero-sm-p4.webp' alt='Hetero Space Semarang')
                    div
                        img(src='../../img/cws-hetero-sm-p5.webp' alt='Hetero Space Semarang')

            .col-lg-6 
                .mb-4 
                    h6.mb-1 Alamat
                    p Jalan Setiabudi No. 192, Semarang

                .mb-4 
                    h6.mb-1 Alamat Google Maps
                    p
                        a.link-primary(href="https://goo.gl/maps/ZfMvY1UaRPr2ghzC6" target="_blank") https://goo.gl/maps/ZfMvY1UaRPr2ghzC6

                .mb-4 
                    h6.mb-1 Nomor Contact Center
                    p
                        a.link-primary(href="tel:+6285602515161") 0856-0251-5161

                .mb-4 
                    h6.mb-1 Program Diskon / Promo
                    p Beli 3 Gratis 1 (Maneka Communal Space)
                        br 
                        | Diskon 20% (Rembug Meeting Room)

                .mb-4 
                    h6.mb-1 Kapasitas Coworking (per hari)
                    p 12

        .row.mt-3 
            .col-12.mb-2
                h5 Panduan Registrasi

            .col-lg-6 
                h6.mb-2 Alur Penggunaan Communal Space
                ol.pds-list 
                    li Datang ke Hetero Space Semarang (menuju ke lantai 2).
                    li Menemui front desk untuk penggunaan ruang komunal. Setelah itu akan diarahkan untuk mengisi link pemesanan coworking:
                        a.link-primary(href="https://bit.ly/membershipprakerjasmg" target="_blank")  https://bit.ly/membershipprakerjasmg
                    li Melakukan pembayaran melalui cash / QRIS.
                    li Penggunaan ruangan Communal Space.

            .col-lg-6 
                h6.mb-2 Alur Penggunaan Meeting Room
                ol.pds-list 
                    li Melakukan reservasi dengan menghubungi nomor Hetero Space Semarang 
                        a.link-primary(href="tel:+6285602515161") 0856-0251-5161
                    li Mengisi link pemesanan coworking:
                        a.link-primary(href="https://bit.ly/membershipprakerjasmg" target="_blank")  https://bit.ly/membershipprakerjasmg
                    li Datang ke Hetero Space Semarang (menuju ke lantai 2).
                    li Menggunakan meeting room.
                    li Pembayaran penggunaan ruangan.