section.section-standard
    .container.pb-5.pt-0.px-4.px-md-0
        h3.mb-4 Mitra Penyedia Beasiswa

        .row 
            .col-lg-4.mb-5
                img.border.rounded.mb-4(src="../img/mitra-beasiswa-microsoft.webp", alt="Mitra Beasiswa Sertifikasi Microsoft" height="76")
                h5.mb-3 Microsoft Talenta AI Scholarship
                p Program ini merupakan program kolaborasi antara Microsoft dan Kartu Prakerja yang bertujuan untuk memberikan beasiswa dan kesempatan belajar bagi kaum muda indonesia untuk mempelajari keterampilan teknologi kecerdasan buatan (Artificial Intelligence/AI) dan keamanan siber (cybersecurity) serta mendapatkan sertifikasi dari Microsoft. Program ini ditujukan untuk 100.000 kaum muda Indonesia serta diprioritaskan untuk perempuan.
                p 
                    b Informasi lebih lanjut, akses disini:
                    br
                    a.link-primary(href="https://bit.ly/ISW-Microsoft" target="_blank") https://bit.ly/ISW-Microsoft

            .col-lg-4.mb-5
                img.border.rounded.mb-4(src="../img/mitra-beasiswa-asu.webp", alt="Mitra Beasiswa Sertifikasi Arizona State University" height="76")
                h5.mb-3 Thunderbird School of Global Management, Arizona State University
                p Program ini merupakan program kolaborasi antara Thunderbird dan Kartu Prakerja yang bertujuan untuk memberikan beasiswa dan membekali kaum muda Indonesia untuk mewujudkan impian kewirausahaan dan meningkatkan karier sebagai inovator serta mendapatkan sertifikasi dari Thunderbird School of Global Management, Arizona State University. Program ini ditujukan untuk 100.000 kaum muda Indonesia serta diprioritaskan untuk wanita dan anak perempuan.
                p 
                    b Informasi lebih lanjut, akses disini:
                    br
                    a.link-primary(href="https://bit.ly/ISW-ASU" target="_blank") https://bit.ly/ISW-ASU

            .col-lg-4
                img.border.rounded.mb-4(src="../img/mitra-beasiswa-aii.webp", alt="Mitra Beasiswa Sertifikasi Akademi Inovasi Indonesia" height="76")
                h5.mb-3 Akademi Inovasi Indonesia
                p Akademi Inovasi Indonesia adalah pergururan tinggi vokasi yang telah mendapatkan status terdaftar berdasarkan Surat Keputusan Menteri Pendidikan dan Kebudayaan Republik Indonesia No. 181/D/OT/2023. Bersama DTECH-ENGINEERING, kami bertekad untuk memberikan pendidikan inovasi dan membekali para mahasiswa dengan ilmu dan skill yang dapat digunakan untuk menyelesaikan masalah di dunia nyata.Kami membuka program kuliah D4 Teknologi Rekayasa Manufaktur selama 4 tahun full beasiswa. Kuliah dan akomodasi akan dibiayai sepenuhnya dan pendaftaran tidak akan dipungut biaya.
                p 
                    b Informasi lebih lanjut, akses disini:
                    br
                    a.link-primary(href="https://bit.ly/ISW-AII" target="_blank") https://bit.ly/ISW-AII