section.section-full-img.adjust-anchor#modal-produktif
  .container.py-5.px-4.px-md-0.position-relative
    .box-wrapper.col-lg-7.col-xl-5.p-lg-4.mb-4
        h6.text-uppercase.mb-4 Mitra Penyedia Beasiswa
        img.border.rounded.mb-4(src="../img/mitra-beasiswa-microsoft.webp", alt="Mitra Beasiswa Sertifikasi Microsoft" height="76")
        h5.mb-3 Microsoft Talenta AI Scholarship
        p Program ini merupakan program kolaborasi antara Microsoft dan Kartu Prakerja yang bertujuan untuk memberikan beasiswa dan kesempatan belajar bagi kaum muda indonesia untuk mempelajari keterampilan teknologi kecerdasan buatan (Artificial Intelligence/AI) dan keamanan siber (cybersecurity) serta mendapatkan sertifikasi dari Microsoft. Program ini ditujukan untuk 100.000 kaum muda Indonesia serta diprioritaskan untuk perempuan.
        p 
        b Informasi lebih lanjut, akses disini:
        br
        a.link-primary(href="https://bit.ly/ISW-Microsoft" target="_blank") https://bit.ly/ISW-Microsoft


        
    .full-img-cover.position-top-left
      img(src='../img/bg-beasiswa.webp' alt='Indonesia Skill Week Beasiswa')
