//- Hero start 
section.section-standard
    .container.pt-5.pb-0
        <h1 class="mb-4">Beasiswa Sertifikasi</h1>

        .row.d-flex
            .col-lg-6.mb-4
                p.paragraph-lg
                    | Program beasiswa khusus bagi peserta Kartu Prakerja! Dapatkan kesempatan unik untuk mengembangkan keterampilan dan pengetahuan melalui pelatihan berkelas. Berani hadapi tantangan masa depan dengan beasiswa ini!
                p.my-4
                    a.btn.btn-primary.btn-lg(href='https://bit.ly/ISW-Beasiswa') Ikuti Program
                .d-flex 
                    i.bi.bi-info-circle-fill.pt-1.text-info.fs-5
                    p.ms-2.text-secondary
                        i Peserta yang telah mendaftar akan ditindaklanjuti oleh Mitra dengan menghubungi nomor hp/email yang disampaikan dalam form pendaftaran.

            .col-lg-6.position-relative.px-lg-5
                img.w-100(src=baseURL+'img/img-beasiswa-sertfikasi2.webp' alt='Beasiswa Sertifikasi')
                img.pattern-1(src=baseURL+'img/pattern-1.svg' alt='Prakerja')