//- 404 page
//- start variable
- var pageActive = '404'
- var baseURL = ''
- var contentDescription = {}
- contentDescription.title = "404 - Halaman Tidak Ditemukan | Indonesia Skills Week by Prakerja - Prakerja.go.id"
- contentDescription.description = "Indonesia Skills Week adalah event dua bulanan dari Prakerja yang terbuka untuk semua golongan, termasuk alumni Prakerja. Dengan menggunakan akun Prakerja, kamu bisa memilih aneka pelatihan online yang gratis, murah, dan mudah selama 1 minggu."

doctype html
html(lang="id" page-class="home")
    include pug/includes/html_head.pug
    body
        include pug/includes/analytics_no_script.pug
        include pug/includes/navigation.pug
        main
            //- section 404
            include pug/error/section_404.pug

            //- section course newest -- Newest Course
            include pug/home/section_course_newest.pug

            
           
        include pug/includes/modal.pug
        include pug/includes/footer.pug
    include pug/includes/html_foot.pug