//- INDEX LANDING PAGES
//- start variable
- var contentDescription = {}
- contentDescription.title = "Indonesia Skills Week by Prakerja - Prakerja.go.id"
- contentDescription.description = "Indonesia Skills Week merupakan event dua bulanan dimana masyarakat dapat mengakses aneka pelatihan online secara gratis, murah dan mudah selama 1 minggu."

doctype html
html(lang="id")
    include pug/includes/html_head.pug
    body
        include pug/includes/navigation.pug
        main
            
        include pug/includes/footer.pug
    include pug/includes/html_foot.pug