section.section-course
  .container.py-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3.custom-header-carousel
      h4 Gratis Selamanya
      a.btn.text-primary.btn-link-custom(href=baseURL+'pelatihan')
        | Lihat Semua 
        i.bi.bi-chevron-right

    // Set up your HTML
    #courseCarouselFree.row.justify-content-md-center
        include ../includes/course_card.pug