// Sass variables

/*Transparent*/
$black50:rgba(0,0,0,.5);
$black25:rgba(0,0,0,.25);
$black10:rgba(0,0,0,.1);
$white50:rgba(255,255,255,.5);
$white0:rgba(255,255,255,0);

/*Blue*/
$b900: #112E50;
$b800: #173F6D;
$b700: #1D508B;
$b600: #2461A9;
$b500: #2A72C7;
$b400: #6A9CD8;
$b300: #95B9E3;
$b200: #BFD5EE;
$b100: #EAF1F9;
$b50: #F4F8FC;

/*Orange*/
$o900: #602600;
$o800: #843400;
$o700: #A84200;
$o600: #CC5000;
$o500: #F05E00;
$o400: #F58E4D;
$o300: #F8AF80;
$o200: #FBCFB3;
$o100: #FEEFE5;

/* Yellow */
$y900: #614A00;
$y800: #856601;
$y700: #A98201;
$y600: #CE9E01;
$y500: #F2BA01;
$y400: #F6CF4D;
$y300: #F9DD80;
$y200: #FBEAB3;
$y100: #FEF8E6;

/* Green  */
$g900: #11501B;
$g800: #176D25;
$g700: #1D8B2F;
$g600: #24A939;
$g500: #2AC743;
$g400: #6AD87B;
$g300: #95E3A1;
$g200: #BFEEC7;
$g100: #EAF9EC;

/* Red  */
$r900: #590D0D;
$r800: #7B1212;
$r700: #9C1616;
$r600: #BE1B1B;
$r500: #DF2020;
$r400: #E96363;
$r300: #EF8F8F;
$r200: #F5BCBC;
$r100: #FCE9E9;

/* Purple  */
$p900: #3C1150;
$p800: #52176D;
$p700: #681D8B;
$p600: #7F24A9;
$p500: #952AC7;
$p400: #B56AD8;
$p300: #CA95E3;
$p200: #DFBFEE;
$p100: #F4EAF9;

/* Topaz  */
$t900: #114450;
$t800: #175E6D;
$t700: #1D788B;
$t600: #2491A9;
$t500: #2AABC7;
$t400: #6AC4D8;
$t300: #95D5E3;
$t200: #BFE6EE;
$t100: #EAF7F9;

/* Neutral  */
$n900: #0F151B;
$n800: #151D25;
$n700: #1B2430;
$n600: #202C3A;
$n500: #263444;
$n400: #67717C;
$n300: #939AA1;
$n200: #BEC2C7;
$n100: #E9EBEC;

/* Stone  */
$s900: #2F363D;
$s800: #414A54;
$s700: #535F6A;
$s600: #647381;
$s500: #768798;
$s400: #9FABB7;
$s300: #BBC3CB;
$s200: #D6DBE0;
$s100: #F1F3F5;
$s50: #fafafa; 

/*Global color*/
$primary:$b500;
$secondary:$o500;
$danger:$r500;
$warning:$y500;
$success:$g600;
$info:$t600;
$help:$p500;
$white: #ffffff;

/*Body color*/
$text-default:$n500;
$text-secondary:$n400;
$text-muted:$n200;
$text-link:$b500;
$text-disabled:$n300;
$text-warning:$y700;
$text-success:$g700;

/*Background color*/
$bg-default:$s100;
$bg-disabled:$n100;
$bg-success:$g100;
$bg-danger:$r100;
$bg-warning:$y100;
$bg-info:$t100;
$bg-help:$p100;
$bg-primary:$b100;

/*Border*/
$border-default:$s200;
::selection {
    background-color:var(--o200);
}

:root {
    /*Global color*/
    --primary:var(--b500);
    --secondary:var(--o500);
    --danger:var(--r500);
    --warning:var(--y500);
    --success:var(--g600);
    --info:var(--t600);
    --help:var(--p500);
    --white: #ffffff;

    /*Body color*/
    --text-default:var(--n500);
    --text-secondary:var(--n400);
    --text-muted:var(--n200);
    --text-link:var(--b500);
    --text-disabled:var(--n300);
    --text-warning:var(--y700);
    --text-success:var(--g700);

    /*Background color*/
    --bg-default:var(--s100);
    --bg-disabled:var(--n100);
    --bg-success:var(--g100);
    --bg-danger:var(--r100);
    --bg-warning:var(--y100);
    --bg-info:var(--t100);
    --bg-help:var(--p100);
    --bg-primary:var(--b100);

    /*Border*/
    --border-default:var(--s200);

    /*Transparent*/
    --black50:rgba(0,0,0,.5);
    --black25:rgba(0,0,0,.25);
    --black10:rgba(0,0,0,.1);
    --white50:rgba(255,255,255,.5);
    --white0:rgba(255,255,255,0);

    /*Blue*/
    --b900: #112E50;
    --b800: #173F6D;
    --b700: #1D508B;
    --b600: #2461A9;
    --b500: #2A72C7;
    --b400: #6A9CD8;
    --b300: #95B9E3;
    --b200: #BFD5EE;
    --b100: #EAF1F9;
    --b50: #F4F8FC;

    /*Orange*/
    --o900: #602600;
    --o800: #843400;
    --o700: #A84200;
    --o600: #CC5000;
    --o500: #F05E00;
    --o400: #F58E4D;
    --o300: #F8AF80;
    --o200: #FBCFB3;
    --o100: #FEEFE5;

    /* Yellow */
    --y900: #614A00;
    --y800: #856601;
    --y700: #A98201;
    --y600: #CE9E01;
    --y500: #F2BA01;
    --y400: #F6CF4D;
    --y300: #F9DD80;
    --y200: #FBEAB3;
    --y100: #FEF8E6;

    /* Green  */
    --g900: #11501B;
    --g800: #176D25;
    --g700: #1D8B2F;
    --g600: #24A939;
    --g500: #2AC743;
    --g400: #6AD87B;
    --g300: #95E3A1;
    --g200: #BFEEC7;
    --g100: #EAF9EC;

    /* Red  */
    --r900: #590D0D;
    --r800: #7B1212;
    --r700: #9C1616;
    --r600: #BE1B1B;
    --r500: #DF2020;
    --r400: #E96363;
    --r300: #EF8F8F;
    --r200: #F5BCBC;
    --r100: #FCE9E9;

    /* Purple  */
    --p900: #3C1150;
    --p800: #52176D;
    --p700: #681D8B;
    --p600: #7F24A9;
    --p500: #952AC7;
    --p400: #B56AD8;
    --p300: #CA95E3;
    --p200: #DFBFEE;
    --p100: #F4EAF9;

    /* Topaz  */
    --t900: #114450;
    --t800: #175E6D;
    --t700: #1D788B;
    --t600: #2491A9;
    --t500: #2AABC7;
    --t400: #6AC4D8;
    --t300: #95D5E3;
    --t200: #BFE6EE;
    --t100: #EAF7F9;

    /* Neutral  */
    --n900: #0F151B;
    --n800: #151D25;
    --n700: #1B2430;
    --n600: #202C3A;
    --n500: #263444;
    --n400: #67717C;
    --n300: #939AA1;
    --n200: #BEC2C7;
    --n100: #E9EBEC;

    /* Stone  */
    --s900: #2F363D;
    --s800: #414A54;
    --s700: #535F6A;
    --s600: #647381;
    --s500: #768798;
    --s400: #9FABB7;
    --s300: #BBC3CB;
    --s200: #D6DBE0;
    --s100: #F1F3F5;
    --s50: #fafafa;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--text-default);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    color: var(--text-default);
}

.paragraph-regular{
    line-height: 1.75rem;
}


.bg-white{
    background-color:var(--white);
}

.bg-black50{
    background-color: rgba(0,0,0,.5);
}
.bg-black25{
    background-color: rgba(0,0,0,.25);
}
.bg-black10{
    background-color: rgba(0,0,0,.1);
}
.bg-white50{
    background-color: rgba(255,255,255,.5);
}
.bg-white0{
    background-color: rgba(255,255,255,0);
}

/* Blue  */
.bg-b900{
    background-color:var(--b900);
}
.bg-b800{
    background-color:var(--b800);
}
.bg-b700{
    background-color:var(--b700);
}
.bg-b600{
    background-color:var(--b600);
}
.bg-b500{
    background-color:var(--b500);
}
.bg-b400{
    background-color:var(--b400);
}
.bg-b300{
    background-color:var(--b300);
}
.bg-b200{
    background-color:var(--b200);
}
.bg-b100{
    background-color:var(--b100);
}

/* Orange */
.bg-o900{
    background-color:var(--o900);
}
.bg-o800{
    background-color:var(--o800);
}
.bg-o700{
    background-color:var(--o700);
}
.bg-o600{
    background-color:var(--o600);
}
.bg-o500{
    background-color:var(--o500);
}
.bg-o400{
    background-color:var(--o400);
}
.bg-o300{
    background-color:var(--o300);
}
.bg-o200{
    background-color:var(--o200);
}
.bg-o100{
    background-color:var(--o100);
}

/* Yellow */
.bg-y900{
    background-color:var(--y900);
}
.bg-y800{
    background-color:var(--y800);
}
.bg-y700{
    background-color:var(--y700);
}
.bg-y600{
    background-color:var(--y600);
}
.bg-y500{
    background-color:var(--y500);
}
.bg-y400{
    background-color:var(--y400);
}
.bg-y300{
    background-color:var(--y300);
}
.bg-y200{
    background-color:var(--y200);
}
.bg-y100{
    background-color:var(--y100);
}

/* Green */
.bg-g900{
    background-color:var(--g900);
}
.bg-g800{
    background-color:var(--g800);
}
.bg-g700{
    background-color:var(--g700);
}
.bg-g600{
    background-color:var(--g600);
}
.bg-g500{
    background-color:var(--g500);
}
.bg-g400{
    background-color:var(--g400);
}
.bg-g300{
    background-color:var(--g300);
}
.bg-g200{
    background-color:var(--g200);
}
.bg-g100{
    background-color:var(--g100);
}

/* Red  */
.bg-r900{
    background-color:var(--r900);
}
.bg-r800{
    background-color:var(--r800);
}
.bg-r700{
    background-color:var(--r700);
}
.bg-r600{
    background-color:var(--r600);
}
.bg-r500{
    background-color:var(--r500);
}
.bg-r400{
    background-color:var(--r400);
}
.bg-r300{
    background-color:var(--r300);
}
.bg-r200{
    background-color:var(--r200);
}
.bg-r100{
    background-color:var(--r100);
}

/* Purple */
.bg-p900{
    background-color:var(--p900);
}
.bg-p800{
    background-color:var(--p800);
}
.bg-p700{
    background-color:var(--p700);
}
.bg-p600{
    background-color:var(--p600);
}
.bg-p500{
    background-color:var(--p500);
}
.bg-p400{
    background-color:var(--p400);
}
.bg-p300{
    background-color:var(--p300);
}
.bg-p200{
    background-color:var(--p200);
}
.bg-p100{
    background-color:var(--p100);
}

/* Topaz  */
.bg-t900{
    background-color:var(--t900);
}
.bg-t800{
    background-color:var(--t800);
}
.bg-t700{
    background-color:var(--t700);
}
.bg-t600{
    background-color:var(--t600);
}
.bg-t500{
    background-color:var(--t500);
}
.bg-t400{
    background-color:var(--t400);
}
.bg-t300{
    background-color:var(--t300);
}
.bg-t200{
    background-color:var(--t200);
}
.bg-t100{
    background-color:var(--t100);
}

/* Neutral  */
.bg-n900{
    background-color:var(--n900);
}
.bg-n800{
    background-color:var(--n800);
}
.bg-n700{
    background-color:var(--n700);
}
.bg-n600{
    background-color:var(--n600);
}
.bg-n500{
    background-color:var(--n500);
}
.bg-n400{
    background-color:var(--n400);
}
.bg-n300{
    background-color:var(--n300);
}
.bg-n200{
    background-color:var(--n200);
}
.bg-n100{
    background-color:var(--n100);
}

/* Stone  */
.bg-s900{
    background-color:var(--s900);
}
.bg-s800{
    background-color:var(--s800);
}
.bg-s700{
    background-color:var(--s700);
}
.bg-s600{
    background-color:var(--s600);
}
.bg-s500{
    background-color:var(--s500);
}
.bg-s400{
    background-color:var(--s400);
}
.bg-s300{
    background-color:var(--s300);
}
.bg-s200{
    background-color:var(--s200);
}
.bg-s100{
    background-color:var(--s100);
}

.color-success{
    color: var(--g700);
}

.color-orange, .color-secondary{
    color: var(--o500);
}

.color-primary{
    color: var(--b500);
}
