@import "pds-style";


.pdt-header{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 234;
}

.header-fixed{
    position: fixed;
    z-index: 999;
    background-color: white;
    top:0;
    left: 0;
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2), 0px 8px 16px -8px rgba(1, 24, 48, 0.2);
}

.text-gradient {
    background: linear-gradient(
        to right,
        #2A72C7 20%,
        #F58E4D 30%,
        #F05E00 70%,
        #6A9CD8 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 6s cubic-bezier(.76,.34,.23,.65) infinite alternate;
    /* animation: textShine 8s linear infinite; */
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Section Hero Start */
.section-hero{
    position: relative;
    padding-top: 4rem;
    // outline: solid 1px red;
    background: linear-gradient(90deg, #EAF1F9 0%, #EEF0FA 14.29%, #F3EFF9 28.57%, #F8EEF7 42.86%, #FDEDF3 57.14%, #FFEDEE 71.43%, #FFEEE9 85.71%, #FEEFE5 100%);

    &> div{
        position: relative;
        z-index: 3;
    }

    &:before{
        bottom:0;
    }
}

.section-hero{
    &:before{
        display: block;
        content: '';
        width: 100%;
        height: 50%;
        position: absolute;
        left:0;
        z-index: 0;
        background: linear-gradient(0deg, #FFFFFF 21.93%, rgba(255, 255, 255, 0) 100%);
    }
}

// Card start 

.pds-card{
    overflow: hidden;
    border-radius: (8/16)+ rem;
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2), 0px 4px 8px -4px rgba(1, 24, 48, 0.2);
    border: none;
    transition: cubic-bezier(.76,.34,.23,.65) .6s;
    h6{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        line-height: 1.5rem;
    }

    &:hover{
        box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.5), 0px 16px 32px -8px rgba(1, 24, 48, 0.35);
        .card-cover{
            img{
                transform: scale(1.1);
            }
        }
    }
    
}
.card-cover{
    aspect-ratio: 16 / 9;
    width:100%;
    min-height: 160px;
    background: var(--bg-default);
    position: relative;
    overflow: hidden;
    
    img{
        width: 100%;
        aspect-ratio: 16 / 9;
        min-height: 160px;
        object-fit: cover;
        object-position: center center;
        // border-radius:20px 20px 0 0;
        transition: cubic-bezier(.76,.34,.23,.65) .5s;
    }
}

.card-cover-overlay{
    background: linear-gradient(180deg, rgba(38, 52, 68, 0) 0%, #263444 94.79%);
    padding: 3rem 1rem 1rem;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-price{
    font-size: (16/16)+ rem;
    font-weight: bold;
    color: var(--success);
    &.color-secondary{
        color: var(--secondary);
    }
}

.card-company-name{
    font-size: (14/16)+ rem;
    color: var(--text-secondary);
}


// Card end 


.section-footer .top-wrapper{
    border-top:solid 1px var(--border-default);
    border-bottom:solid 1px var(--border-default);
}

.list-footer-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-footer-menu li{
    padding: .375rem 0;
}
.list-footer-menu a,
.list-footer-menu p{
    text-decoration: none;
    color: var(--text-secondary);
}

.list-footer-menu a:hover{
    color: var(--text-link);
}

@media (min-width:992px) {
    .list-footer-menu li{
        padding: 1rem 0;
    }
}

.call-center-box{
    background-color: var(--bg-default);
    border-radius: 1rem;
    background-image: url('../img/img-street-lamps.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.call-center-box .list-footer-menu li{
    padding: .5rem 0;
}

.quote-box{
    background-color: var(--b100);
}
.quote-box .bi{
    font-size: 2rem;
    color: var(--primary);
}

.quote-author{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-default);
    font-size: 0.75rem;
    position: relative;
    padding-top: 1rem;
}
.quote-author::before{
    display: block;
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
}

.social-media{
    a{
        font-size: 1.5rem;
        color: var(--text-secondary);
        margin-right: 3rem;
        padding: 0 .5rem;
        
        &:last-child{
            margin-right: 0;
        }
    }
    
}

.social-media a:hover{
    color: var(--text-link);
}

.book-frame{
    padding-left:1.5rem;
    position: relative;
}
.book-frame:before{
    display: block;
    content: '';
    width: 1.5rem;
    height: 100%;
    background-color: var(--o400);
    position: absolute;
    top: 0;
    left: 0;
}
.book-frame img{
    border-radius: 0 1rem 1rem 0;
}

.copyrights{
    font-size: 0.875rem;
    color: var(--text-secondary);
}


#mc_embed_signup input.mce_inline_error {
    border-color: var(--danger)!important;
}

#mc_embed_signup div.mce_inline_error {
    background-color: var(--bg-danger)!important;
    border-radius: 4px;
    color: var(--danger)!important;
    font-weight: 400!important;
}

/* media querys */

 @media (min-width: 576px) { 
   
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

 @media (min-width: 1200px) { 
    
 }


 .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2A72C7;
    --bs-btn-border-color: #2A72C7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2461A9;
    --bs-btn-hover-border-color: #1D508B;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1D508B;
    --bs-btn-active-border-color: #2461A9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #95B9E3;
    --bs-btn-disabled-border-color: #95B9E3;
  }

  .btn-outline-primary {
    --bs-btn-color: #2A72C7;
    --bs-btn-border-color: #2A72C7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2A72C7;
    --bs-btn-hover-border-color: #2A72C7;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2A72C7;
    --bs-btn-active-border-color: #2A72C7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2A72C7;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2A72C7;
    --bs-gradient: none;
  }

  .text-bg-warning{
    color: var(--text-default)!important;
  }

  .text-success{
    color: var(--success)!important;
  }

  .btn-outline-light {
    --bs-btn-color: var(--s600);
    --bs-btn-border-color: var(--border-default);
    --bs-btn-hover-color:var(--text-default);
    --bs-btn-hover-bg: var(--s100);
    --bs-btn-hover-border-color: var(--s300);
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color:var(--text-default);
    --bs-btn-active-bg: var(--s200);
    --bs-btn-active-border-color: var(--s400);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--s600);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--s600);
    --bs-gradient: none;
  }

  .text-bg-warning{
    background-color: var(--warning);
    color: var(--text-default)!important;
    font-weight: 400;
  }

  .text-bg-help{
    background-color: var(--help);
    color: var(--white)!important;
    font-weight: 400;
  }

  .text-secondary {
    color: var(--text-secondary)!important;
  }