.owl-carousel-card.pb-3.col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
    .card.pds-card
        .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
                .d-flex.align-items-center
                    span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                    span.skeleton-box.rounded-pill(style='width:100px')
                    span.skeleton-box.rounded-pill(style='width:20%;')
        .card-body
            h6.mb-2
                span.skeleton-box(style='width:95%;')
                span.skeleton-box(style='width:80%;')
            div
                .card-price.mb-1
                    span.skeleton-box(style='width:30%;')
                .course-price.card-price.mb-1.color-secondary
                    span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
                span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
                span.skeleton-box.rounded-pill.me-2.mt-2(style='width:80%; height: 20px;')
.owl-carousel-card.pb-3.col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
    .card.pds-card
        .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
                .d-flex.align-items-center
                    span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                    span.skeleton-box.rounded-pill(style='width:100px')
                    span.skeleton-box.rounded-pill(style='width:20%;')
        .card-body
            h6.mb-2
                span.skeleton-box(style='width:95%;')
                span.skeleton-box(style='width:80%;')
            div
                .card-price.mb-1
                    span.skeleton-box(style='width:30%;')
                .course-price.card-price.mb-1.color-secondary
                    span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
                span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
                span.skeleton-box.rounded-pill.me-2.mt-2(style='width:80%; height: 20px;')
.owl-carousel-card.pb-3.col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
    .card.pds-card
        .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
                .d-flex.align-items-center
                    span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                    span.skeleton-box.rounded-pill(style='width:100px')
                    span.skeleton-box.rounded-pill(style='width:20%;')
        .card-body
            h6.mb-2
                span.skeleton-box(style='width:95%;')
                span.skeleton-box(style='width:80%;')
            div
                .card-price.mb-1
                    span.skeleton-box(style='width:30%;')
                .course-price.card-price.mb-1.color-secondary
                    span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
                span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
                span.skeleton-box.rounded-pill.me-2.mt-2(style='width:80%; height: 20px;')
.owl-carousel-card.pb-3.col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
    .card.pds-card
        .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
                .d-flex.align-items-center
                    span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                    span.skeleton-box.rounded-pill(style='width:100px')
                    span.skeleton-box.rounded-pill(style='width:20%;')
        .card-body
            h6.mb-2
                span.skeleton-box(style='width:95%;')
                span.skeleton-box(style='width:80%;')
            div
                .card-price.mb-1
                    span.skeleton-box(style='width:30%;')
                .course-price.card-price.mb-1.color-secondary
                    span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
                span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
                span.skeleton-box.rounded-pill.me-2.mt-2(style='width:80%; height: 20px;')

//- data dummy
    .owl-carousel-card.pb-3
    .card.pds-card
        .card-cover
        img.card-img-top(loading='lazy' src='#{course.course_image}' alt='Meningkatkan Kemampuan Pengelolaan Waktu sebagai Pengawas Kantor (Daring)')
        .card-cover-overlay
            .d-flex.justify-content-between
            .card-company
                img.me-1.card-logo(loading='lazy' src='https://static-asset-cdn.prakerja.go.id/companies-logo/Studilmu.png' alt='STUDiLMU')
                span.course-lp-name
                | STUDiLMU Didarat dan di
                | Laut dan udara
            div
                span.badge.rounded-pill.text-bg-warning Online
        .card-body
        h6.mb-2.course-title(title='Meningkatkan Kemampuan Pengelolaan Waktu sebagai Pengawas Kantor (Daring)')
            | Strategi Pemasaran Agro Wisata Bagi Pengembang Bisnis (Daring)
        div
            .course-real-price.mb-1
            span Rp 500.000
            span.badge.text-bg-ghost-success 96%
            .course-price.card-price.mb-1.color-secondary Rp 20.000
        .mt-3.text-center
            a.apply-course.btn.btn-primary.w-100.mb-3(href='https://docs.google.com/forms/d/1bPoPHiitfMzK4EgsVbCUiXs6pgQdeoEQo1gDeM3y1AE/edit?ts=645cb084?utm_source=skill-week&utm_medium=landing-page&utm_content=button' target='_blank' rel='nofollow' data-event='skill_week_apply_course') Dapatkan Voucher
            a.link-secondary.w-100(href='#' data-bs-toggle='modal' data-bs-target='#deskripsiPelatihanModal') Deskripsi Pelatihan
