// Modal start
#deskripsiPelatihanModal.modal.modal-lg.fade(tabindex='-1' aria-labelledby='deskripsiPelatihanModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header.align-items-start.align-items-lg-center
        h1#deskripsiPelatihanModalLabel.modal-title.fs-5 Strategi Pemasaran Agro Wisata Bagi Pengembang Bisnis (Daring)
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        article.course-url
          b Link Pelatihan : 
          p
            a.link-pelatihan(href="" title="" target="_blank") Link Pelatihan
        article.course-descriptions.paragraph-md
          b Deskripsi : 
          p
            | Judul Program: &quot;Membuat Desain Grafis Dengan Adobe Photoshop Untuk Menjadi Perancang Grafis&quot;
      .modal-footer
        button.btn.btn-outline-primary(type='button' data-bs-dismiss='modal') Tutup
        a.btn.btn-primary.apply-course.disabled(href='https://docs.google.com/forms/d/e/1FAIpQLScc3v4je6bcRHA_0H5ItpjaY_x8ump5K9pdc27ylti4pQo0xQ/viewform' target='_blank' data-event='skill_week_apply_course' title='Pendaftaran sedang ditutup') Dapatkan Voucher Pelatihan
        // <button type="button" class="btn btn-primary">Dapatkan Voucher Pelatihan</button>
// Modal end



<!-- Modal User Login -->
#loginModal.modal.fade(tabindex='-1' aria-labelledby='loginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal.login-modal
    .modal-content
      .modal-header.modal-header-custom
        img.me-2(src=baseURL+"img/img-ornament-1.svg")
        h4#exampleModalLabel.modal-title Masuk ISW
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.p-4
        p.paragraph-md.mb-4 Untuk mendapatkan Voucher Pelatihan, masuk ke Indonesia Skill Weeks dengan menggunakan email yang sudah terdaftar sebagai peserta di Prakerja.

        form
          .mb-3
            label.form-label(for='exampleInputEmail1')
              b Alamat Email yang terdaftar di Prakerja
            input#exampleInputEmail1.form-control(type='email' aria-describedby='userEmail' placeholder="nama@email.com")
          .mb-3
            label.form-label(for='exampleInputPassword1')
              b Password akun Prakerja
            .input-group.mb-3
              input.form-control(type='text' placeholder="Masukkan Password" aria-label="Masukkan Password" aria-describedby='button-addon2')
              button#button-addon2.btn.btn-outline-light(type='button')
                i.bi.bi-eye
        //- .mb-3.form-check
        //-   input#exampleCheck1.form-check-input(type='checkbox')
        //-   label.form-check-label(for='exampleCheck1') Check me out
        div.mb-3 
          button.btn.btn-primary.w-100(type='submit') Masuk
        div 
          button.btn.w-100(type='button' data-bs-dismiss='modal') Nanti Saja
      .modal-footer.justify-content-start.border-top
       
        p.fs-7.px-2 Belum punya akun? Yuk 
          a.link-primary(href="https://dashboard.prakerja.go.id/daftar" target="_blank")
            b Buat Akun Prakerja
            i.bi.bi-arrow-up-right-square-fill.ms-1


<!-- Modal User Sudah Login -->
#loginAlreadyModal.modal.fade(tabindex='-1' aria-labelledby='loginAlreadyModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        .text-center.w-100
          img(src=baseURL+"img/img-login-already.svg", alt="")
          h4.modal-title.mt-3 Kamu Masuk Sebagai
        //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        form
          .mb-3
            label.form-label(for='exampleInputEmail1')
              b Alamat Email yang terdaftar di Prakerja
            input#exampleInputEmail1.form-control.is-valid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="bambang@gmail.com" disabled)

        p
          | Akun kamu 
          b (bambang@gmail.com)
          | berhasil tervalidasi sebagai akun Prakerja, tetap masuk di website ini untuk memudahkan mendapatkan Voucher Pelatihan pada saat mengambil pelatihan yang kamu pilih.
          
      .modal-footer.ps-4.pb-4.pe-4
        button.btn.btn-ghost-danger.w-100(data-bs-toggle="modal"  data-bs-dismiss='modal')
          | Keluar
        
          


<!-- Modal Get Course - Belum Login -->
#getCourseNotLoginModal.modal.fade(tabindex='-1' aria-labelledby='getCourseNotLoginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4#exampleModalLabel.modal-title  Ambil Voucher Pelatihan?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        //- p.paragraph-md.mb-4 Dengan mengkonfirmasi, kode Voucher akan dikirim ke email kamu, silakan cek secara berkala.
        .row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Pelatihan ABC")
          .col-12.col-md-8.p-0.ps-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          

        .alert.alert-warning.mt-3.d-flex.align-items-top.mb-0
          i.fs-5.bi.bi-info-circle-fill.me-3
          div
            div.fs-7
              | Untuk mendapatkan voucher pelatihan, kamu harus masuk terlebih dahulu ke Indonesia Skills Week.
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.w-100.me-1(type='button' data-bs-dismiss='modal') Kembali
            button.btn.btn-primary.w-100.ms-1(data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss='modal')
              i.bi.bi-person-circle.me-2
              | Masuk
          .fs-7.w-100.p-3.border-top.text-center Belum punya akun? Yuk 
            a.link-primary(href="https://dashboard.prakerja.go.id/daftar" target="_blank")
              b Buat Akun Prakerja
              i.bi.bi-arrow-up-right-square-fill.ms-1


<!-- Modal Get Course - Sudah Login -->
#getCourseLoginModal.modal.fade(tabindex='-1' aria-labelledby='getCourseLoginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4#exampleModalLabel.modal-title  Ambil Voucher Pelatihan?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        //- p.paragraph-md.mb-4 Dengan mengkonfirmasi, kode Voucher akan dikirim ke email kamu, silakan cek secara berkala.
        .row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Pelatihan ABC")
          .col-12.col-md-8.p-0.ps-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          
        form.mt-3
          .mb-3
            label.form-label(for='exampleInputEmail1')
              b Alamat Email yang terdaftar di Prakerja
            input#exampleInputEmail1.form-control.is-valid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="bambang@gmail.com" disabled)

        .alert.alert-info.mt-3.d-flex.align-items-top.mb-0
          i.fs-5.bi.bi-info-circle-fill.me-3
          div
            div.fs-7
              | Kode Voucher akan dikirim ke email kamu selama 
              b kuota 
              | pelatihan masih tersedia, silakan cek email secara berkala.
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.w-100.me-1(type='button' data-bs-dismiss='modal') Kembali
            button.btn.btn-primary.w-100.ms-1(data-bs-toggle="modal" data-bs-target="#" data-bs-dismiss='modal')
              | Ambil Voucher
          
          
        
  
