// Modal start
#deskripsiPelatihanModal.modal.modal-lg.fade(tabindex='-1' aria-labelledby='deskripsiPelatihanModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header.align-items-start.align-items-lg-center
        h1#deskripsiPelatihanModalLabel.modal-title.fs-5 Strategi Pemasaran Agro Wisata Bagi Pengembang Bisnis (Daring)
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        article.course-url
          b Link Pelatihan : 
          p
            a.link-pelatihan(href="" title="" target="_blank") Link Pelatihan
        article.course-descriptions.paragraph-md
          b Deskripsi : 
          p
            | Judul Program: &quot;Membuat Desain Grafis Dengan Adobe Photoshop Untuk Menjadi Perancang Grafis&quot;
      .modal-footer
        button.btn.btn-outline-primary(type='button' data-bs-dismiss='modal') Tutup
        a.btn.btn-primary.apply-course.disabled(href='https://docs.google.com/forms/d/e/1FAIpQLScc3v4je6bcRHA_0H5ItpjaY_x8ump5K9pdc27ylti4pQo0xQ/viewform' target='_blank' data-event='skill_week_apply_course' title='Pendaftaran sedang ditutup') Dapatkan Voucher Pelatihan
        // <button type="button" class="btn btn-primary">Dapatkan Voucher Pelatihan</button>
// Modal end
