.share-dialog 
    .share-header 
        h3.dialog-title Bagikan Pelatihan Ini
        button.close-button
            i.bi.bi-x-lg 
    
    .targets 
        a.btn(href="#")
            i.bi.bi-facebook 
            | &nbsp;Facebook 
        
        a.btn(href="#")
            i.bi.bi-twitter
            | &nbsp;Twitter 
        
        a.btn(href="#")
            i.bi.bi-linkedin 
            | &nbsp;Linkedin 
        
        a.btn(href="#")
            i.bi.bi-envelope-at 
            | &nbsp;Email 

    .link 
        .pen-url https://codepen.io/ayoisaiah/pen/YbNazJ
        button.btn.btn-outline-primary Salin
        