
.toast-container.position-fixed.bottom-0.end-0.p-3
  #liveToast.toast(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header
      img.rounded.me-2(src='...' alt='...')
      strong.me-auto Bootstrap
      small 11 mins ago
      button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
    .toast-body
      | Hello, world! This is a toast message.