//- page nav 
section.section-cws-nav 
    .container 
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../estubizi" title="Estubizi") 
                i.bi.bi-arrow-left
                | &nbsp;Estubizi

            a.col-6.cws-link-right(href="../codecreative" title="CO & CO Space") 
                | Kode Creative Hub &nbsp;
                i.bi.bi-arrow-right