section
    .container.py-md-3.py-3.px-4.px-md-0
        .d-flex.align-items-center
            .page-cws-logo
                img(src="../../img/cws-c-co-n-co.webp", alt="Co & Co")
            .ps-4 
                h1.mb-1.mb-lg-4 CO&CO
                span.text-secondary
                    i.bi.bi-geo-alt 
                    | Bandung