//- Estubizi Jakarta
section
    .container.py-md-5.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-lg-10 
                .row 
                    .col-lg-6.overflow-hidden
                        //- carousel 
                        .owl-carousel.cws-carousel.theme-sabrina.mb-5
                            div
                                img(src='../../img/cws-conco-bd-p1.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p2.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p3.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p4.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p5.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p6.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p7.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p8.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p9.webp' alt='CO&CO Bandung')
                            div
                                img(src='../../img/cws-conco-bd-p10.webp' alt='CO&CO Bandung')

                    .col-lg-6 
                        .mb-4 
                            h6.mb-1 Alamat
                            p 
                                a.link-primary(href="https://goo.gl/maps/jHeGcFZKPMevLq519?coh=178572&entry=tt" target="_blank") Jl Dipatiukur No.33, Kota  BandungJl Dipatiukur No.33, Kota  Bandung
                        .mb-4 
                            h6.mb-1 Nomor Contact Center
                            p
                                a.link-primary(href="tel:+6287728730505") 0877-2873-0505

                        .mb-4 
                            h6.mb-1 Program Diskon / Promo
                            p Diskon 50% per hari (daily pass)

                        .mb-4 
                            h6.mb-1 Kapasitas Coworking (per hari)
                            p 15

        .row.mt-3.justify-content-center

            .col-lg-10.mb-4.mb-lg-4
                h5.mb-2 Pandunan Registrasi
                ol.pds-list 
                    li Bisa Melalui website 
                        a.link-primary(href="https://conco.id/" target="_blank") conco.id  
                        | atau Whatsapp ke
                        a.link-primary(href="https://wa.me/+6287728730505") 0877-2873-0505
                        | .

                    li Jika melalui website masuk ke halaman space dan isi nama, nomor telepon dan email yang dan segera akan dihubungi oleh tim CO&CO melalui whatsapp atau email.
                    li Isi form registrasi yang diberikan oleh CO&CO.
                    li Saat registrasi ulang di CO&CO tunjukkan bukti peserta bahwa benar penerima Kartu Prakerja untuk mendapatkan akses coworking space.

            .col-lg-10 
                h5.mb-2 Syarat & Ketentuan
                ol.pds-list 
                    li Menunjukkan bukti peserta adalah penerima bantuan prakerja.
                    li Registrasi untuk mendapatkan akses coworking space.
                    li Engage dengan social media CO&CO dengan memberikan rating di Google Place , dan follow social media CO&CO.
                    li Dan jangan lupa berbaur dan berkoneksi dengan member CO&CO ya.