//- page nav 
section.section-cws-nav 
    .container
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../heterospace" title="Hetero Space") 
                i.bi.bi-arrow-left
                | &nbsp;Hetero Space

            a.col-6.cws-link-right(href="../kodecreative" title="CO & CO Space") 
                | Kode Creative Hub &nbsp;
                i.bi.bi-arrow-right