//- // Profil
section.pt-5#user-profile
    .container.py-lg-5.py-4.px-4.px-md-0
        h2.text-center.text-sm-start.mb-md-4 Profil Saya
        .row.justify-content-center
            .col-12
                #active-course-container
                    h5.mb-4 Daftar pelatihan yang kamu ambil di Indonesia Skills Week
                    article#course-list
                        .card.pds-card.pds-card-list.mb-3
                            .card-cover 
                                span.skeleton-box(style='width:100%; height: 100%;')
                                .card-cover-overlay 
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center 
                                            .card-company 
                                                span.skeleton-box.rounded.me-2(style='width:60px;height: 32px;') 
                                                span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;') 

                                        .align-self-center 
                                            span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;') 

                            .card-body
                                h6.mb-1.course-title.text-capitalize(title="Internet Of Things (IoT) - Fundamentals")
                                    span.skeleton-box.rounded.me-2(style='width:40%;height: 32px;') 
                                span.mb-2.badge.text-bg-light.text-capitalize
                                    span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;') 

                                div.d-md-flex
                                    .course-real-price.mb-1.me-md-3
                                        span.skeleton-box.rounded.me-2(style='width:80px;height: 32px;') 
                                        span.skeleton-box.rounded.me-2(style='width:40px;height: 32px;') 

                                    .course-price.card-price.mb-1
                                        span.skeleton-box.rounded.me-2(style='width:40px;height: 32px;') 

                                .pds-card-list-footer.mt-3.text-center 
                                    span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
                        
                        .card.pds-card.pds-card-list.mb-3
                            .card-cover 
                                span.skeleton-box(style='width:100%; height: 100%;')
                                .card-cover-overlay 
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center 
                                            .card-company 
                                                span.skeleton-box.rounded.me-2(style='width:60px;height: 32px;') 
                                                span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;') 

                                        .align-self-center 
                                            span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;') 

                            .card-body
                                h6.mb-1.course-title.text-capitalize(title="Internet Of Things (IoT) - Fundamentals")
                                    span.skeleton-box.rounded.me-2(style='width:40%;height: 32px;') 
                                span.mb-2.badge.text-bg-light.text-capitalize
                                    span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;') 

                                div.d-md-flex
                                    .course-real-price.mb-1.me-md-3
                                        span.skeleton-box.rounded.me-2(style='width:80px;height: 32px;') 
                                        span.skeleton-box.rounded.me-2(style='width:40px;height: 32px;') 

                                    .course-price.card-price.mb-1
                                        span.skeleton-box.rounded.me-2(style='width:40px;height: 32px;') 

                                .pds-card-list-footer.mt-3.text-center 
                                    span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
                    
                    

                        //- .card.pds-card.pds-card-list.mb-3
                        //-     .card-cover 
                        //-         img.card-img-top(loading="lazy" src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0113.png" alt="Smarter Prototyping With Figma" )
                        //-         .card-cover-overlay 
                        //-             .d-flex.justify-content-between.align-middle
                        //-                 .align-self-center 
                        //-                     .card-company 
                        //-                         img.me-1.card-logo(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/alterra-academy.png" alt="Alterra Academy")
                        //-                         span.course-lp-name Alterra Academy

                        //-                 .align-self-center 
                        //-                     span.badge.rounded-pill.text-capitalize.text-bg-warning
                        //-                         | Self-Paced Learning

                        //-     .card-body
                        //-         h6.mb-1.course-title.text-capitalize(title="Smarter Prototyping With Figma")
                        //-             | Smarter Prototyping With Figma
                        //-         span.mb-2.badge.text-bg-light.text-capitalize
                        //-             | Makanan dan Minuman

                        //-         div.d-md-flex
                        //-             .course-real-price.mb-1.me-md-3
                        //-                 span Rp 69.000
                        //-                 span.badge.text-bg-ghost-success 71%

                        //-             .course-price.card-price.mb-1.color-secondary
                        //-                 | Rp 20.000

                        //-         .pds-card-list-footer.mt-3.text-center 
                        //-             a.btn.btn-primary.w-100.mb-2.text-truncate(href="#" title="") Selengkapnya



                        //- .card.pds-card.pds-card-list.mb-3
                        //-     .card-cover 
                        //-         img.card-img-top(loading="lazy" src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p0321.png" alt="Pelatihan Dasar Microsoft Word Untuk Pemula" )
                        //-         .card-cover-overlay 
                        //-             .d-flex.justify-content-between.align-middle
                        //-                 .align-self-center 
                        //-                     .card-company 
                        //-                         img.me-1.card-logo(src="https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/pkbm-sinar-pagi.png" alt="PKBM SINAR PAGI")
                        //-                         span.course-lp-name PKBM SINAR PAGI

                        //-                 .align-self-center 
                        //-                     span.badge.rounded-pill.text-capitalize.text-bg-help
                        //-                         | Webinar

                        //-     .card-body
                        //-         h6.mb-1.course-title.text-capitalize(title="Pelatihan Dasar Microsoft Word Untuk Pemula")
                        //-             | Pelatihan Dasar Microsoft Word Untuk Pemula
                        //-         span.mb-2.badge.text-bg-light.text-capitalize
                        //-             | Makanan dan Minuman

                        //-         div.d-md-flex 
                        //-             .course-real-price.mb-1.me-md-3
                        //-                 span Rp 200.000
                        //-                 span.badge.text-bg-ghost-success 100%

                        //-             .course-price.card-price.mb-1
                        //-                 | Gratis

                        //-         .pds-card-list-footer.mt-3.text-center 
                        //-             a.btn.btn-primary.w-100.mb-2.text-truncate(href="#" title="") Selengkapnya


                article#empty-list.hidden
                    .d-flex.rounded.justify-content-center.bg-white
                        .col-lg-8.d-lg-flex.p-4.justify-content-center 
                            div.p-md-3.mb-3.mb-lg-0
                                img(src=baseURL+"img/img-ornament-1.svg" height="116")

                            div.p-md-3
                                h5 Kamu belum mengambil pelatihan
                                p Yuk cari pelatihan sesuai minat kamu
                                a.btn.btn-primary(href="/pelatihan")  Cari Pelatihan


