//- // Profil
section.section-profile.pt-5
    .container.pt-5.pb-4.pt-lg-5.pb-lg-5.px-4.px-md-0
        h2.text-center.text-sm-start.mb-md-4 Akun Profil
        .row.flex-row-reverse
            .col-12.col-md-4.col-lg-7.text-center.text-sm-start.text-lg-center.py-3
                img.ratio-1-1(src=baseURL+"img/img-login-already.svg", alt="ISW Logged In")

            .col-12.col-md-8.col-lg-5.pe-xl-4
                
                .mb-3
                    p
                        | Kamu masuk sebagai 
                        b.text-email (your-email@domain.com)
                        | , tetap masuk di website ini untuk memudahkan mendapatkan Voucher Pelatihan pada saat mengambil pelatihan yang kamu pilih.
                    

                button.btn.btn-ghost-danger.px-4(data-bs-toggle="modal" data-bs-target="#confirmLogoutModal"  data-bs-dismiss='modal')
                    | Keluar
