- var pageActive = 'coworking'
- var baseURL = '../../'
- var contentDescription = {}
- contentDescription.title = "Clapham Coworking Space - Prakerja.go.id"
- contentDescription.description = "Ayo bergabung di Indonesia Skills Week, event dua bulanan dimana masyarakat dapat mengakses aneka pelatihan online secara gratis, murah dan mudah, akses coworking space dan modal produktif selama 1 minggu."

//- doctype html
html(lang="id")
    include ../../pug/includes/html_head.pug
    body
        include ../../pug/includes/navigation.pug
        main
            include ../../pug/coworking/clapham/section_breadcrumb.pug
            include ../../pug/coworking/clapham/section_hero.pug
            include ../../pug/coworking/clapham/section_medan.pug
            include ../../pug/coworking/section_ketentuan_umum.pug
            include ../../pug/coworking/clapham/section_page_nav.pug
        include ../../pug/includes/footer.pug
    include ../../pug/includes/html_foot.pug
    