//- INDEX LANDING PAGES
//- start variable
- var pageActive = 'none'
- var baseURL = '../'
- var contentDescription = {}
- contentDescription.title = "Judul Pelatihan"
- contentDescription.description = "Indonesia Skills Week merupakan event dua bulanan dimana masyarakat dapat mengakses aneka pelatihan online secara gratis, murah dan mudah selama 1 minggu."

doctype html
html(lang="id")
    include ../pug/includes/html_head.pug
    body
        include ../pug/includes/analytics_no_script.pug
        include ../pug/includes/navigation.pug
        main

            //- Skeleton breadcrumbs
            section.pt-5
                .container.pt-md-5.pt-5.px-4.px-md-0
                    nav(aria-label="breadcrumb")
                        ol.breadcrumb 
                            li.breadcrumb-item 
                                span.skeleton-box.rounded-pill(style="width:20px")
                            li.breadcrumb-item 
                                span.skeleton-box.rounded-pill(style="width:128px")
                            li.breadcrumb-item.active
                                span.skeleton-box.rounded-pill(style="width:128px")

            //- Skeleton Course Detail
            section.section-detail-course
                .container.py-5.px-4.px-md-0
                    .row.flex-row-reverse
                        .col-12.col-md-4.col-lg-4
                            .skeleton-box.w-100.rounded.mb-3(style="min-height: 30vh;")
                            .mb-3
                                span.skeleton-box.rounded-pill(style="width:128px")
                            .mb-3
                                span.skeleton-box.rounded-pill(style="width:40%;height:32px;")

                            .mb-3
                                span.skeleton-box.rounded(style="width:70%;height:48px;")
                            .mb-3
                                span.skeleton-box.rounded-pill(style="width:60%")

                        .col-12.col-md-8.col-lg-8.pe-xl-4
                            .mb-2 
                                span.skeleton-box.rounded(style="width:100%; height:40px;")
                            .mb2 
                                span.skeleton-box.rounded(style="width:70%; height:40px;")

                            .mt-3 
                                span.skeleton-box.rounded.me-2(style="width:32px;height:32px;")
                                span.skeleton-box.rounded(style="width:40%; height:32px;")


                            .row.mt-5.mb-4 
                                .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                                    span.skeleton-box.rounded-pill.me-2(style="width:18px;height:18px;")
                                    .w-100 
                                        span.skeleton-box.rounded-pill.mb-2(style="width:50%;height:18px;")
                                        span.skeleton-box.rounded-pill(style="width:70%;height:18px;")
                                .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                                    span.skeleton-box.rounded-pill.me-2(style="width:18px;height:18px;")
                                    .w-100 
                                        span.skeleton-box.rounded-pill.mb-2(style="width:50%;height:18px;")
                                        span.skeleton-box.rounded-pill(style="width:70%;height:18px;")
                                .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                                    span.skeleton-box.rounded-pill.me-2(style="width:18px;height:18px;")
                                    .w-100 
                                        span.skeleton-box.rounded-pill.mb-2(style="width:50%;height:18px;")
                                        span.skeleton-box.rounded-pill(style="width:70%;height:18px;")

                                .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                                    span.skeleton-box.rounded-pill.me-2(style="width:18px;height:18px;")
                                    .w-100 
                                        span.skeleton-box.rounded-pill.mb-2(style="width:50%;height:18px;")
                                        span.skeleton-box.rounded-pill(style="width:70%;height:18px;")

                                .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                                    span.skeleton-box.rounded-pill.me-2(style="width:18px;height:18px;")
                                    .w-100 
                                        span.skeleton-box.rounded-pill.mb-2(style="width:50%;height:18px;")
                                        span.skeleton-box.rounded-pill(style="width:70%;height:18px;")
                                .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                                    span.skeleton-box.rounded-pill.me-2(style="width:18px;height:18px;")
                                    .w-100 
                                        span.skeleton-box.rounded-pill.mb-2(style="width:50%;height:18px;")
                                        span.skeleton-box.rounded-pill(style="width:70%;height:18px;")

                            hr 

                            article
                                section.py-3
                                    .mb-3 
                                        span.skeleton-box.rounded(style="width:40%; height:32px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:100%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:90%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:100%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:50%; height:18px;")
                                    .mt-4 
                                        span.skeleton-box.rounded(style="width:100%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:90%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:100%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:50%; height:18px;")

                                section.py-3
                                    .mb-3 
                                        span.skeleton-box.rounded(style="width:40%; height:32px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:90%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:80%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:70%; height:18px;")
                                    .mt-2 
                                        span.skeleton-box.rounded(style="width:50%; height:18px;")

                                section.py-3
                                    h4 Contact Center
                                    div.pt-2.pb-2
                                        h6 Telepon 
                                        a.btn.btn-ghost-primary(href="tel:+6221222111") 
                                            i.bi.bi-telephone-fill.me-2
                                            | +6221 222 111

                                    div.pt-2.pb-2
                                        h6 Whatsapp 
                                        a.btn.btn-ghost-success(href="https://wa.me/+628001503001") 
                                            i.bi.bi-whatsapp.me-2
                                            | +6280 0150 3001

                                    div.pt-2.pb-2
                                        h6 Email 
                                        a.btn.btn-ghost-light(href="mailto:emailname@domain.com") 
                                            i.bi.bi-envelope-at.me-2
                                            | emailname@domain.com



                            hr

           

            //- Skeleton Similar Course
            include ../pug/course/section_similar_course.pug

        include ../pug/includes/modal.pug
        include ../pug/includes/footer.pug
    include ../pug/includes/html_foot.pug