section.section-course
  .container.py-3.py-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3.custom-header-carousel
      h4.custom-rfs-h4 
        span Pelatihan Terbaru
      a.btn.text-primary(href=baseURL+'pelatihan/index.html?topic=&keyword=&price=&lp=&new_course=true')
        | Lihat Semua 
        i.bi.bi-chevron-right

    // Set up your HTML
    #courseCarouselNewest.row.justify-content-md-center
        include ../includes/course_card.pug