// Hero start
section.section-hero
  .container.py-md-5.py-5.px-4.px-md-0
    .row.d-flex.align-items-center
      .col-md-5
        img.w-100(src=baseURL+'img/img-hey-you.webp' alt='Prakerja ISW')
        img.ornament-1(src=baseURL+'img/img-illustartion-1.svg' alt='Prakerja Illustration')
      .col-md-7.mt-3.mt-md-0
        h1.mb-4.display-4.mt-3.md-md-0
          | Indonesia Skills Week by 
          span.text-primary Prakerja
        p.text-secondary.paragraph-lg
          | Indonesia Skills Week merupakan event dua bulanan dimana masyarakat dapat mengakses aneka pelatihan online secara 
          b.text-dark gratis, murah dan mudah
          |  selama 
          b.text-dark 1 minggu
          | .
          br
          br
          | Tidak terbatas hanya pada akses Pelatihan, kamu juga bisa explore 
          a.link-primary(href="#coworking-space" title="Coworking Space") 
            b Coworking Space
          | , 
          a.link-primary(href="#modal-produktif" title="Modal Produktif ") 
            b Modal Produktif 
          | dan 
          a.link-primary(href="#beasiswa-sertifikasi" title="Sertifikasi") 
            b Beasiswa Sertifikasi
          |  loh!
          br 
          | Yuk cek sekarang!
        .d-flex.justify-content-end
// Hero end
