section
  .container.py-3.px-4.px-md-0
    .d-flex.justify-content-center
        a(href="https://bit.ly/webinar-jadi-bisa" target="_blank")
            img.rounded-3.mw-100(src="https://mmgfnw.csb.app/section-banner/isw-slim-banner.webp", alt="Ikuti Webinar #jadiBisa di Skillsweek Oktober 2024") 