section
  .container.py-3.px-4.px-md-0.py-5
    .d-flex.justify-content-center
        a(href="https://bit.ly/3VCjxsV" target="_blank")
            img.rounded-3.mw-100(src=baseURL+"img/slim-banner-des.webp", alt="Ikuti Webinar #jadiBisa di Skillsweek Oktober 2024") 