section.section-beasiswa.adjust-anchor#beasiswa-sertifikasi
  .container.py-5.px-4.px-md-0
    .row.flex-lg-row-reverse
      .col-lg-6
        .p-0.p-lg-4.mb-3
          h3 Beasiswa Sertifikasi
          p
            | Program beasiswa khusus bagi peserta Kartu Prakerja! Dapatkan kesempatan unik untuk mengembangkan keterampilan dan pengetahuan melalui pelatihan berkelas. Berani hadapi tantangan masa depan dengan beasiswa ini!
            //- img.w-100.my-4(src="img/img-mitra-beasiswa-all.webp", alt="Mitra Beasiswa Sertifikasi Prakerja")
          img.border.mb-3(src="../img/mitra-beasiswa-microsoft.webp", alt="Mitra Beasiswa Sertifikasi Microsoft" height="56")
          div 
            a.btn.btn-primary(href='beasiswa/index.html') Pelajari Selengkapnya
      .col-lg-6
        img.w-100(src=baseURL+'img/img-beasiswa-sertfikasi2.webp' alt='')
