//- How to join this event 
//- section.section-course
//-   .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
//-     .d-flex.align-items-center.justify-content-between.mb-3
//-         h4.custom-rfs-h4 Cara Mengikuti Pelatihan

//-     .owl-carousel.howto-carousel
//-         div.howto-item.p-3
//-             h6 1. Buat Akun Prakerja
//-             p.paragraph-sm 
//-                 | Ayo 
//-                 a(href="https://dashboard.prakerja.go.id/daftar")
//-                     b Daftar&nbsp;
//-                 | Prakerja terlebih dahulu. Untuk info lebih lengkap, baca 
//-                 a(href="https://www.prakerja.go.id/tanya-jawab/pendaftaran")
//-                     b di sini
//-                 | .

//-         div.howto-item.p-3
//-             h6 2. Masuk di Web ISW
//-             p.paragraph-sm 
//-                 | Gunakan email dan password akun Prakerja kamu di web 
//-                 a(href="https://skillsweek.prakerja.go.id/") 
//-                     b ISW
//-                 | .

//-         div.howto-item.p-3
//-             h6 3. Cari dan Pilih Pelatihanmu
//-             p.paragraph-sm 
//-                 | Setelah masuk di website ISW, kamu bisa mencari dan ambil 
//-                 a(href="https://skillsweek.prakerja.go.id/pelatihan/") 
//-                  b pelatihan
//-                 | &nbsp;yang kamu minati
//-                 | (
//-                 a(href="https://skillsweek.prakerja.go.id/tanyajawab/#SyaratKetentuan") 
//-                     b S&amp;K berlaku
//-                 | ). 
//-                 | Pemilihan bisa dilakukan selama periode ISW.
        
//-         div.howto-item.p-3
//-             h6 4. Cek Voucher di Email
//-             p.paragraph-sm 
//-                 | Setelah memilih pelatihan, kamu akan mendapatkan Kode Voucher yang dikirimkan ke email yang terdaftar di Prakerja. Cek Inbox atau Spam kamu ya.
//-         div.howto-item.is-last.p-3
//-             h6 5. Mulai Pelatihan dan Selesaikan
//-             p.paragraph-sm 
//-                 | Buka halaman pelatihan pada masing-masing Lembaga Pelatihan untuk tukar voucher-mu. Ayo mulai dan selesaikan pelatihanmu.

section.section-course
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
        h4.custom-rfs-h4 Cara Mengikuti Pelatihan

    .owl-carousel.howto-carousel.d-flex.align-items-stretch
        .howto-item.p-3.box-1
            .d-flex.align-items-center
                h6.me-2.first-letter 1.
                h6 Buat Akun Prakerja

            p.paragraph-sm 
                | Ayo 
                a(href="https://dashboard.prakerja.go.id/daftar")
                    b Daftar&nbsp;
                | Prakerja terlebih dahulu. Untuk info lebih lengkap, baca 
                a(href="https://www.prakerja.go.id/tanya-jawab/pendaftaran")
                    b di sini
                | .
            .icon-float 
                i.bi.bi-pen

        .howto-item.p-3.box-2
            .d-flex.align-items-center
                h6.me-2.first-letter 2.
                h6 Masuk di Web ISW
            
            p.paragraph-sm 
                | Gunakan email dan password akun Prakerja kamu di web 
                a(href="https://skillsweek.prakerja.go.id/") 
                    b ISW
                | .
            .icon-float 
                i.bi.bi-globe

        .howto-item.p-3.box-3
            .d-flex.align-items-center
                h6.me-2.first-letter 3.
                h6 Cari dan Pilih Pelatihanmu
            p.paragraph-sm 
                | Setelah masuk di website ISW, kamu bisa mencari dan ambil 
                a(href="https://skillsweek.prakerja.go.id/pelatihan/") 
                 b pelatihan
                | &nbsp;yang kamu minati
                | (
                a(href="https://skillsweek.prakerja.go.id/tanyajawab/#SyaratKetentuan") 
                    b S&amp;K berlaku
                | ). 
                | Pemilihan bisa dilakukan selama periode ISW.
            .icon-float 
                i.bi.bi-person-video3
        
        .howto-item.p-3.box-4
            .d-flex.align-items-center
                h6.me-2.first-letter 4.
                h6 Cek Voucher di Email
            p.paragraph-sm 
                | Setelah memilih pelatihan, kamu akan mendapatkan Kode Voucher yang dikirimkan ke email yang terdaftar di Prakerja. Cek Inbox atau Spam kamu ya.
            .icon-float 
                i.bi.bi-envelope-paper

        .howto-item.p-3.box-5
            .d-flex.align-items-center
                h6.me-2.first-letter 5.
                h6 Mulai Pelatihan dan Selesaikan
            p.paragraph-sm 
                | Buka halaman pelatihan pada masing-masing Lembaga Pelatihan untuk tukar voucher-mu. Ayo mulai dan selesaikan pelatihanmu.
            .icon-float 
                i.bi.bi-award