section.section-course
  .container.py-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
      h4.custom-rfs-h4 60+ Lembaga Pelatihan
      a.btn.text-primary(href='/pelatihan')

    #course-provider-list.row 
      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')
      
      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          //- img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          //- span.lp-name Ruang Kerja
          .d-flex.align-items-center
            span.skeleton-box.rounded.me-2(style='width:40px;height: 40px;')
            span.skeleton-box.rounded-pill(style='width:180px')

    .row 
      .col-12.text-center.pt-3
        button#load-more-lp.btn.btn-lg.btn-ghost-primary Muat Lebih Banyak
    