section.section-beasiswa.adjust-anchor#beasiswa-sertifikasi
  .container.py-5.px-4.px-md-0
    .row.flex-lg-row-reverse
      .col-lg-6
        .box-wrapper.p-0.p-lg-4.mb-3
          h3 Beasiswa Sertifikasi
          p
            | Program beasiswa khusus bagi peserta Kartu Prakerja! Dapatkan kesempatan unik untuk mengembangkan keterampilan dan pengetahuan melalui pelatihan berkelas. Berani hadapi tantangan masa depan dengan beasiswa ini!
          a.btn.btn-secondary(href='') Segera Hadir!
      .col-lg-6
        img.w-100(src=baseURL+'img/img-beasiswa-sertfikasi.webp' alt='')
