section.section-testimony
  .container.py-3.py-lg-5.px-4.px-md-0
    h4.custom-rfs-h4.text-center
        | Apa Kata Mereka?

    .owl-carousel.testimony-carousel.carousel-auto-height
        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            img(src="img/img-testimony-sabrina.webp", alt="Sabrina Lutfiani")
                            //- img.owl-lazy(data-src="img/img-placeholder-logo.webp" data-src-retina="img/img-testimony-sabrina.webp" alt="Sabrina Lutfiani")
                        
                    div 
                        h6.m-0 Sabrina Lutfiani
                        span.fs-7.text-secondary Cirebon, Jawa Barat 

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 Menurut saya ISW sangat membantu sekali untuk menambah skill-skill baru yg belum sempat saya ambil di waktu saya ikut pelatihan Prakerja, 
                    | mengisi waktu luang untuk belajar, dan memberikan kesempatan SDM untuk lebih berkembang dan berpotensi. Harapan saya, semoga ISW bisa diadakan 1 bulan sekali, 
                    | mungkin untuk pelatihan gratis tidak dibatasi 1 pelatihan saja, dan jangka waktunya diperpanjang lebih dari 1 minggu.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            img(src="img/img-testimony-makhinun.webp", alt="Makhinun Amin")
                            //- img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/img-testimony-makhinun.webp", alt="Makhinun Amin")
                    div 
                        h6.m-0 Makhinun Amin
                        span.fs-7.text-secondary Cirebon, Jawa Barat 

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 Untuk saya ISW bisa menjadi sebuah pembelajaran dan pembekalan kita untuk menambah suatu proses pengetahuan cara di bidang yang kita minati. Semoga kedepannya lebih diperbanyak lagi pelatihan lainnya.


        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            img(src="img/img-testimony-rony.webp", alt="Rony Purwono")
                            //- img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/img-testimony-rony.webp", alt="Rony Purwono")
                    div 
                        h6.m-0 Rony Purwono
                        span.fs-7.text-secondary Surabaya, Jawa Timur

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3
                    | ISW merupakan program yg sangat bagus ya, terutama untuk mengetahui perkembangan informasi tentang teknologi dan kemampuan apa yang seharusnya dimiliki atau disiapkan oleh peserta dalam menghadapi era digitalisasi atau perubahan teknologi ke depan. 
                    | Program seperti ini kalau bisa dilanjutkan, mengingat kebutuhan tentang peningkatan skill dan teknologi dalam DUDI (Dunia Usaha dan Dunia Industri) terus berkembang dan kebutuhan akan talenta-talenta digital ini dibutuhkan untuk bisa berpartisipasi dalam persaingan global.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            img(src="img/img-testimony-fenti.webp", alt="Fenti Sampe Sialla")
                            //- img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/img-testimony-fenti.webp", alt="Fenti Sampe Sialla")
                    div 
                        h6.m-0 Fenti Sampe Sialla
                        span.fs-7.text-secondary Tana Toraja, Sulawesi Selatan

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Menurut saya, ISW merupakan program yang sangat bagus karena langsung mengacu pada kehidupan sehari-hari dan ISW ini langsung bertanya pada pakarnya atau badan terkait, jadi kalau ada masalah atau hal-hal yang perlu ditanyakan langsung ke pakarnya jadi mendapat jawaban lebih akurat. Semoga kedepan ISW dilakukan lagi dan semoga ada ISW secara offline.

        
        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            img(src="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                            //- img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                    div 
                        h6.m-0 Rizki Alwi Pratama
                        span.fs-7.text-secondary Labuan Batu, Sumatera Utara

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Indonesia Skill Week sangat berguna untuk semua kalangan masyarakat umum, untuk menambah skill yg dimiliki dengan memilih banyak pelatihan yang tersedia.
    


