section.section-course
  .container.py-3.py-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3.custom-header-carousel 
      h4.custom-rfs-h4
        span Bootcamp Eksklusif
      a.btn.text-primary(href=baseURL+'pelatihan/index.html?topic=&keyword=&price=&lp=&new_course=true')
        | Lihat Semua 
        i.bi.bi-chevron-right
    
    // Set up your HTML
    #boot.row.justify-content-md-center
       .owl-carousel.bootcamp-carousel.d-flex.align-items-stretch.pb-3

            .card.full-card.rounded-3
                a.text-decoration-none(href="#")
                    .full-card-cover
                        div.badge.rounded-0.lets-disco
                            i.bi.bi-flag-fill 
                            | Bootcamp
                        img.card-img-top(loading='lazy' src='img/img-placeholder.webp' alt='Loading...')
                    
                    .full-card-body.d-flex.flex-column.text-center.p-3.justify-content-between
                        div
                            .full-card-logo.py-1.px-2.rounded-3.d-inline-block
                                img(loading='lazy' src='img/img-placeholder-logo.webp' alt='Logo Lembaga Pelatihan')
                            div
                                span.skeleton-box.rounded-3(style="width:40%")

                        div
                            h6.skeleton-box.rounded-3(style="width:70%")
                            div
                                .course-real-price.mb-1
                                    .skeleton-box.rounded-3(style="width:20%")
                                    br
                                    .skeleton-box.rounded-3(style="width:40%")
            
            

            //- .card.full-card.rounded-3
            //-     a.text-decoration-none(href="#")
            //-         .full-card-cover
            //-             div.badge.rounded-0.lets-disco
            //-                 i.bi.bi-flag-fill 
            //-                 | Bootcamp
            //-             img.card-img-top(loading='lazy' src='https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fHdvcmt8ZW58MHx8MHx8fDA%3D' alt='Master Class On Job Training : Data Science')
                    
            //-         .full-card-body.d-flex.flex-column.text-center.p-3.justify-content-between
            //-             div
            //-                 .full-card-logo.py-1.px-2.rounded-3.d-inline-block
            //-                     img(loading='lazy' src='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/qubisa_10.jpg' alt='STUDiLMU')
            //-                 .fs-7.text-white Nama Lembaga Pelatihan

            //-             div
            //-                 h6.mb-2.course-title.text-white(title='Master Class On Job Training : Data Science)')
            //-                     | Master Class On Job Training : Data Science
            //-                 div.bg-brush-price 
            //-                     .course-real-price.mb-1
            //-                         span.text-light Rp 500.000
            //-                         span.badge.text-bg-ghost-success.ms-2 96%
            //-                         .course-price.card-price.mb-1.text-white Rp 20.000

            //- .card.full-card.rounded-3
            //-     a.text-decoration-none(href="#")
            //-         .full-card-cover
            //-             div.badge.rounded-0.lets-disco
            //-                 i.bi.bi-flag-fill 
            //-                 | Bootcamp
            //-             img.card-img-top(loading='lazy' src='https://plus.unsplash.com/premium_photo-1661281337214-c5f344300d92?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDl8fHdvcmt8ZW58MHx8MHx8fDA%3D' alt='Master Class On Job Training : Data Science')
                    
            //-         .full-card-body.d-flex.flex-column.text-center.p-3.justify-content-between
            //-             div
            //-                 .full-card-logo.py-1.px-2.rounded-3.d-inline-block
            //-                     img(loading='lazy' src='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/qubisa_10.jpg' alt='STUDiLMU')
            //-                 .fs-7.text-white Nama Lembaga Pelatihan

            //-             div
            //-                 h6.mb-2.course-title.text-white(title='Master Class On Job Training : Data Science)')
            //-                     | Master Class On Job Training : Data Science
            //-                 div.bg-brush-price 
            //-                     .course-real-price.mb-1
            //-                         span.text-light Rp 500.000
            //-                         span.badge.text-bg-ghost-success.ms-2 96%
            //-                         .course-price.card-price.mb-1.text-white Rp 20.000

            //- .card.full-card.rounded-3
            //-     a.text-decoration-none(href="#")
            //-         .full-card-cover
            //-             div.badge.rounded-0.lets-disco
            //-                 i.bi.bi-flag-fill 
            //-                 | Bootcamp
            //-             img.card-img-top(loading='lazy' src='https://images.unsplash.com/photo-1456324463128-7ff6903988d8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHdvcmt8ZW58MHx8MHx8fDA%3D' alt='Master Class On Job Training : Data Science')
                    
            //-         .full-card-body.d-flex.flex-column.text-center.p-3.justify-content-between
            //-             div
            //-                 .full-card-logo.py-1.px-2.rounded-3.d-inline-block
            //-                     img(loading='lazy' src='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/qubisa_10.jpg' alt='STUDiLMU')
            //-                 .fs-7.text-white Nama Lembaga Pelatihan

            //-             div
            //-                 h6.mb-2.course-title.text-white(title='Master Class On Job Training : Data Science)')
            //-                     | Master Class On Job Training : Data Science
            //-                 div.bg-brush-price 
            //-                     .course-real-price.mb-1
            //-                         span.text-light Rp 500.000
            //-                         span.badge.text-bg-ghost-success.ms-2 96%
            //-                         .course-price.card-price.mb-1.text-white Rp 20.000

            //- .card.full-card.rounded-3
            //-     a.text-decoration-none(href="#")
            //-         .full-card-cover
            //-             div.badge.rounded-0.lets-disco
            //-                 i.bi.bi-flag-fill 
            //-                 | Bootcamp
            //-             img.card-img-top(loading='lazy' src='https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' alt='Master Class On Job Training : Data Science')
                    
            //-         .full-card-body.d-flex.flex-column.text-center.p-3.justify-content-between
            //-             div
            //-                 .full-card-logo.py-1.px-2.rounded-3.d-inline-block
            //-                     img(loading='lazy' src='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/qubisa_10.jpg' alt='STUDiLMU')
            //-                 .fs-7.text-white Nama Lembaga Pelatihan

            //-             div
            //-                 h6.mb-2.course-title.text-white(title='Master Class On Job Training : Data Science)')
            //-                     | Master Class On Job Training : Data Science
            //-                 div.bg-brush-price 
            //-                     .course-real-price.mb-1
            //-                         span.text-light Rp 500.000
            //-                         span.badge.text-bg-ghost-success.ms-2 96%
            //-                         .course-price.card-price.mb-1.text-white Rp 20.000

            //- .card.full-card.rounded-3
            //-     a.text-decoration-none(href="#")
            //-         .full-card-cover
            //-             div.badge.rounded-0.lets-disco
            //-                 i.bi.bi-flag-fill 
            //-                 | Bootcamp
            //-             img.card-img-top(loading='lazy' src='https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' alt='Master Class On Job Training : Data Science')
                    
            //-         .full-card-body.d-flex.flex-column.text-center.p-3.justify-content-between
            //-             div
            //-                 .full-card-logo.py-1.px-2.rounded-3.d-inline-block
            //-                     img(loading='lazy' src='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/logo/qubisa_10.jpg' alt='STUDiLMU')
            //-                 .fs-7.text-white Nama Lembaga Pelatihan

            //-             div
            //-                 h6.mb-2.course-title.text-white(title='Master Class On Job Training : Data Science)')
            //-                     | Master Class On Job Training : Data Science
            //-                 div.bg-brush-price 
            //-                     .course-real-price.mb-1
            //-                         span.text-light Rp 500.000
            //-                         span.badge.text-bg-ghost-success.ms-2 96%
            //-                         .course-price.card-price.mb-1.text-white Rp 20.000

            



            //- .card.pds-card
            //-     .card-cover
            //-         img.card-img-top(loading='lazy' src='https://public-prakerja.oss-ap-southeast-5.aliyuncs.com/skill_week/thumbnail/isw-p1031_30.jpg' alt='Meningkatkan Kemampuan Pengelolaan Waktu sebagai Pengawas Kantor (Daring)')
            //-     .card-cover-overlay
            //-         .d-flex.justify-content-between
            //-         .card-company
            //-             img.me-1.card-logo(loading='lazy' src='https://static-asset-cdn.prakerja.go.id/companies-logo/Studilmu.png' alt='STUDiLMU')
            //-             span.course-lp-name
            //-             | STUDiLMU Didarat dan di
            //-             | Laut dan udara
            //-         div
            //-             span.badge.rounded-pill.text-bg-warning Online
            //-     .card-body
            //-         h6.mb-2.course-title(title='Meningkatkan Kemampuan Pengelolaan Waktu sebagai Pengawas Kantor (Daring)')
            //-             | Strategi Pemasaran Agro Wisata Bagi Pengembang Bisnis (Daring)
            //-         div
            //-             .course-real-price.mb-1
            //-             span Rp 500.000
            //-             span.badge.text-bg-ghost-success 96%
            //-             .course-price.card-price.mb-1.color-secondary Rp 20.000
            //-         .mt-3.text-center
            //-             a.apply-course.btn.btn-primary.w-100.mb-3(href='https://docs.google.com/forms/d/1bPoPHiitfMzK4EgsVbCUiXs6pgQdeoEQo1gDeM3y1AE/edit?ts=645cb084?utm_source=skill-week&utm_medium=landing-page&utm_content=button' target='_blank' rel='nofollow' data-event='skill_week_apply_course') Dapatkan Voucher
            //-             a.link-secondary.w-100(href='#' data-bs-toggle='modal' data-bs-target='#deskripsiPelatihanModal') Deskripsi Pelatihan

            