section.section-course.bg-light-grey
  .container.py-3.py-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3.custom-header-carousel
      h4.custom-rfs-h4 
        span Pelatihan&nbsp;
        | Serba 20 Ribu
      a.btn.text-primary(href=baseURL+'pelatihan/index.html?topic=&keyword=&price=20000&lp=')
        | Lihat Semua 
        i.bi.bi-chevron-right

    // Set up your HTML
    #courseCarouselTwenty.row.justify-content-md-center
        include ../includes/course_card.pug