// section SnK start
section#SyaratKetentuan.section-snk.mb-5
  .container.py-lg-5
    .row.justify-content-center
      .col-lg-10
        .text-center.mb-5
          h2 Syarat &amp; Ketentuan
        .row
          .col-12.col-md-6.px-md-4
            ul
              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p
                  | Mempunyai akun Prakerja (Apabila belum terdaftar silahkan mengikuti proses registrasi akun melalui 
                  a.link-primary(href='www.prakerja.go.id' target='_blank') www.prakerja.go.id
                  | &nbsp;)
              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p WNI usia minimal 18 Tahun
              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p Kuota pelatihan terbatas
              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p
                  | Tidak akan mempengaruhi untuk mendapatkan
                  b  "insentif Pasca Pelatihan Prakerja"


          .col-12.col-md-6.px-md-4
            ul
              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p
                  | Pelatihan tidak bisa dibeli menggunakan saldo 
                  b Kartu Prakerja
              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p
                  | Masa aktif voucher pelatihan diskon berdasarkan kebijakan lembaga penyedia pelatihan

              li.d-flex.align-items-start
                i.bi.bi-check.text-success.fs-3.lh-1.me-2
                p
                  | Pelatihan dan voucher yang sudah dibeli menjadi tanggungjawab peserta sepenuhnya
              //- li.d-flex.align-items-start
              //-   i.bi.bi-check.text-success.fs-3.lh-1.me-2
              //-   p Peserta dapat membeli lebih dari 1 pelatihan diskon
              //- li.d-flex.align-items-start
              //-   i.bi.bi-check.text-success.fs-3.lh-1.me-2
              //-   p Pelatihan dan voucher yang sudah dibeli menjadi tanggungjawab peserta sepenuhnya
//- // section SnK end
