//- page nav 
section.section-cws-nav 
    .container 
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../conco" title="CO & CO Space") 
                i.bi.bi-arrow-left
                | &nbsp;CO&CO

            a.col-6.cws-link-right(href="../clapham" title="Clapham Collective") 
                | Clapham Collective &nbsp;
                i.bi.bi-arrow-right