section
    .container.py-md-5.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-12.col-xl-10.mb-3.mb-lg-4
                h2.mb-3.text-center Tanya Jawab

                section
                    div.heading-sticky
                        h4 
                            a(href="#accordionTentangISW")  Tentang Indonesia Skills Week
                
                    .accordion.pds-accordion#accordionTentangISW
                        .accordion-item 
                            h5.accordion-header
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                    | Sampel Modals
                            
                            .accordion-collapse.collapse.show#collapseOne(data-bs-parent="#accordionTentangISW")
                                .accordion-body 
                                    h3 Akun
                                    
                                    ol 
                                        li.mb-3
                                            h6 Default
                                            button.btn.btn-primary.text-truncate.max-width-200(data-bs-toggle="modal" data-bs-target="#loginModal")
                                                i.bi.bi-person-circle.me-2
                                                | Masuk

                                            br
                                            br

                                            h6 Sudah Login + truncate + title
                                            button.btn.btn-primary.text-truncate.max-width-200(data-bs-toggle="modal" data-bs-target="#loginModal" title="bambang_soehardjo@gmail.com")
                                                i.bi.bi-person-circle.me-2 
                                                | bambang_soehardjo@gmail.com
                                            
                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#loginSuccessModal")
                                                
                                                | Success Message

                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#loginErrorModal")
                                                
                                                | Error States 

                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#loginAlreadyModal")
                                                
                                                | Sudah Login

                                        


                                    hr 
                                    h3 Course
                                    ol 
                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#getCourseNotLoginModal")
                                                | Ambil Pelatihan - Belum Login
                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#getCourseLoginModal")
                                                | Ambil Pelatihan - Sudah Login

                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#getFreeCourseNotLoginModal")
                                                | Ambil Pelatihan Gratis - Belum Login

                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#getFreeCourseLoginModal")
                                                | Ambil Pelatihan Gratis - Sudah Login

                                        li.mb-3
                                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#getCourseFailedModal")
                                                | Ambil Pelatihan - Sudah Login - Gagal

                                        li.mb-3 
                                            button#liveToastBtn.btn.btn-primary(type='button') Toast Sukses Ambil Pelatihan

                                    
                            
                        .accordion-item 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1")
                                    | Accordion Item #1
                            
                            .accordion-collapse.collapse#collapse1(data-bs-parent="#accordionTentangISW")
                                .accordion-body
                                    strong This is the first item's accordion body.
                                    | It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        
                        .accordion-item 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2")
                                    | Accordion Item #3
                            
                            .accordion-collapse.collapse#collapse2(data-bs-parent="#accordionTentangISW")
                                .accordion-body
                                    strong This is the first item's accordion body.
                                    | It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            

                section
                    div.heading-sticky
                        h4 
                            a(href="#accordionPendafataranISW")  Pendaftaran
                
                    .accordion.pds-accordion#accordionPendafataranISW                          
                        .accordion-item 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1")
                                    | Accordion Item #1
                            
                            .accordion-collapse.collapse#collapse1(data-bs-parent="#accordionPendafataranISW")
                                .accordion-body
                                    strong This is the first item's accordion body.
                                    | It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        
                        .accordion-item 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2")
                                    | Accordion Item #3
                            
                            .accordion-collapse.collapse#collapse2(data-bs-parent="#accordionPendafataranISW")
                                .accordion-body
                                    strong This is the first item's accordion body.
                                    | It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            

                section
                    div.heading-sticky
                        h4 
                            a(href="#accordionPelatihanISW")  Pelatihan
                
                    .accordion.pds-accordion#accordionPelatihanISW                          
                        .accordion-item 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1")
                                    | Accordion Item #1
                            
                            .accordion-collapse.collapse#collapse1(data-bs-parent="#accordionPelatihanISW")
                                .accordion-body
                                    strong This is the first item's accordion body.
                                    | It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        
                        .accordion-item 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2")
                                    | Accordion Item #3
                            
                            .accordion-collapse.collapse#collapse2(data-bs-parent="#accordionPelatihanISW")
                                .accordion-body
                                    strong This is the first item's accordion body.
                                    | It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            


        

