//- page nav 
section.section-cws-nav 
    .container 
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../confie" title="Confie Space") 
                i.bi.bi-arrow-left
                | &nbsp;Confie Space

            a.col-6.cws-link-right(href="../heterospace" title="Hetero Space") 
                | Hetero Space &nbsp;
                i.bi.bi-arrow-right