//- Estubizi Jakarta
section
    .container.py-md-5.py-5.px-4.px-md-0
        //- h3.mb-4 Bali
        .row 
            .col-lg-6.overflow-hidden
                //- carousel 
                .owl-carousel.cws-carousel.theme-sabrina.mb-5
                    div
                        img(src='../../img/cws-voffice-bl-p1.webp' alt='VOffice Bali')

            .col-lg-6 
                .mb-4 
                    h6.mb-1 Alamat
                    p JIMBARAN HUB JLOFT-1F, Jl.Karang Mas Jimbaran, Kabupaten Badung, Bali

                .mb-4 
                    h6.mb-1 Alamat Google Maps
                    p
                        a.link-primary(href="https://goo.gl/maps/pc3pG7yg9WBvzNsn8  " target="_blank") https://goo.gl/maps/pc3pG7yg9WBvzNsn8 

                .mb-4 
                    h6.mb-1 Nomor Contact Center
                    p
                        a.link-primary(href="tel:+6281999886681") 0819-9988-6681

                .mb-4 
                    h6.mb-1 Program Diskon / Promo
                    p Diskon 30 ribu/hari (daily pass)

                .mb-4 
                    h6.mb-1 Kapasitas Coworking (per hari)
                    p 10

        .row.mt-3 

            .col-lg-6.mb-4.mb-lg-0
                h5.mb-2 Pandunan Registrasi
                ol.pds-list 
                    li Bisa menunjukkan ID/Nomor Kartu Prakerja dan akan dicatat oleh team kami untuk report. 
                    li Lalu secara otomatis bisa membayar IDR 50.000/hari dari harga normal IDR 80.000/hari.

            .col-lg-6 
                h5.mb-2 Syarat & Ketentuan
                p Kami buka dari Senin - Jumat dari jam 9:00 pagi sampai 6:00 sore. Kami hanya tutup pada Weekend & Public Holiday (Kecuali saat event). Fasilitas:
                ol.pds-list 
                    li Harga tersebut untuk satu orang/meja/hari.
                    li Satu orang akan mendapatkan satu password Wifi dan untuk 2 devices.
                    li Password yang didapatkan hanya bisa digunakan 1 hari.
                    li Coworking kami buka dari jam 08.00 pagi – 05.00 sore.
                    li Tidak dianjurkan untuk bekerja melebihi dari jam diatas.
                    li Meeting diperkenankan di dalam ruangan dengan catatan untuk mengontrol suara.
                    li Hanya bisa menggunakan meja Option 1.
                    li Tidak diperkenankan makan di dalam ruangan.
                    li Menjaga kebersihan selama menggunakan meja & ruangan.
                    li Tidak meninggalkan barang berharga saat sudah selesai menggunakan meja.