// Modal start
#modalFilter.modal.modal-lg.fade.modal-full.pds-modal-custom(tabindex='-1' aria-labelledby='' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header.align-items-start.align-items-lg-center
        button.header-anchor.btn.btn-ghost-white(data-bs-dismiss='modal' aria-label='Close')
          i.bi.bi-chevron-left
          b Filter Pelatihan
        // <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      .modal-body
        section.mb-4
          h6.mb-3 Topik Pelatihan
          .column-3-1
            .form-check
              input#check1.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check1')
                | Bahasa Asing
            .form-check
              input#check2.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check2')
                | Gaya hidup
            .form-check
              input#check3.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check3')
                | Keuangan
            .form-check
              input#check4.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check4')
                | Makanan dan Minuman
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Manajemen
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Penjualan dan Pemasaran
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Perkantoran
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Pertanian
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Sosial dan Perilaku
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Teknik
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Teknologi Informasi
            .form-check
              input#check5.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check5')
                | Lainnya
        // <hr>
        section.mb-4
          h6.mb-3 Harga
          .column-3-1
            .form-check
              input#check6.form-check-input(type='radio' value='')
              label.form-check-label(for='check6')
                | Gratis
            .form-check
              input#check7.form-check-input(type='radio' value='')
              label.form-check-label(for='check7')
                | Rp 20.000,-
            .form-check
              input#check8.form-check-input(type='radio' value='')
              label.form-check-label(for='check8')
                | Diskon
        // <hr>
        section.mb-4
          h6.mb-3 Lembaga Pelatihan
          .column-3-1
            .form-check
              input#check11.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check11')
                | Skillvul
            .form-check
              input#check12.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check12')
                | Akademia
            .form-check
              input#check13.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check13')
                | Bright Future
            .form-check
              input#check13.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check13')
                | Animatua
            .form-check
              input#check11.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check11')
                | Skillvul
            .form-check
              input#check12.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check12')
                | Akademia
            .form-check
              input#check13.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check13')
                | Bright Future
            .form-check
              input#check13.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check13')
                | Animatua
            .form-check
              input#check11.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check11')
                | Skillvul
            .form-check
              input#check12.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check12')
                | Akademia
            .form-check
              input#check13.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check13')
                | Bright Future
            .form-check
              input#check13.form-check-input(type='checkbox' value='')
              label.form-check-label(for='check13')
                | Animatua
      .modal-footer
        button.btn.btn-outline-primary(type='button col-6' data-bs-dismiss='modal') Reset
        button.btn.btn-primary(type='button col-6') Tampilkan
// Modal end
