// Modal start
#modalFilter.modal.modal-lg.fade.modal-full.pds-modal-custom(tabindex='-1' aria-labelledby='' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header.align-items-start.align-items-lg-center
        button.header-anchor.btn.btn-ghost-white(data-bs-dismiss='modal' aria-label='Close')
          i.bi.bi-chevron-left
          b Filter Pelatihan
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      .modal-body
        section.mb-4
          h6.filter-group-sticky.mb-3 
            i.bi.bi-percent.color-success 
            | Harga
          #course-price.course-filter.column-3-1
            .form-check
              input#filter-price-1.form-check-input.filter-price(type='checkbox' value='0')
              label.form-check-label.text-capitalize(for='filter-price-1') gratis (Rp0)
            .form-check
              input#filter-price-2.form-check-input.filter-price(type='checkbox' value='20000')
              label.form-check-label.text-capitalize(for='filter-price-2') Rp20.000,-
            .form-check
              input#filter-price-3.form-check-input.filter-price(type='checkbox' value='diskon besar')
              label.form-check-label.text-capitalize(for='filter-price-3') Diskon Besar

        //- section.mb-4
        //-   h6.filter-group-sticky.mb-3 
        //-     i.bi.bi-stars.text-danger 
        //-     | Highlight
        //-   #course-trending.course-filter.column-3-1
        //-     .form-check
        //-       input#filter-trending-1.form-check-input.filter-trending(type='checkbox' value='0')
        //-       label.form-check-label.text-capitalize(for='filter-trending-1') Trending
        //-     .form-check
        //-       input#filter-newcourse.form-check-input.filter-newcourse(type='checkbox' value='20000')
        //-       label.form-check-label.text-capitalize(for='filter-newcourse') Terbaru


        //- section.mb-4
        //-   h6.filter-group-sticky.mb-3 
        //-     i.bi.bi-person-video2.text-info 
        //-     | Tipe Pelatihan
        //-   #course-trending.course-filter.column-3-1
        //-     .form-check
        //-       input#filter-pelatihan-1.form-check-input.filter-pelatihan-1(type='checkbox' value='0')
        //-       label.form-check-label.text-capitalize(for='filter-pelatihan-1') Online Self-Paced Learning
        //-     .form-check
        //-       input#filter-pelatihan-2.form-check-input.filter-pelatihan-2(type='checkbox' value='0')
        //-       label.form-check-label.text-capitalize(for='filter-pelatihan-2') Online Webinar

        section.mb-4
          h6.filter-group-sticky.mb-3 
            i.bi.bi-tag-fill.color-primary 
            | Topik Pelatihan
          #course-category.course-filter.column-3-1
            p Memuat Daftar Topik Pelatihan...
          //- start loading by category
            
        section.mb-4
          h6.filter-group-sticky.mb-3 
            i.bi.bi-bank2.color-secondary 
            | Lembaga Pelatihan
          #course-LP.course-filter.column-3-1
            p Memuat Daftar Lembaga Pelatihan...
          //- start loading by LP
          
            
      .modal-footer
        button#btn-reset-filter.btn.btn-outline-primary.disabled(type='button col-6') Reset
        button#btn-apply-filter.btn.btn-primary(type='button col-6') Tampilkan Hasil
// Modal end
