// Course start
section#Pelatihan.section-course.d-flex.align-items-center
  .container.pb-5.px-4.px-md-0
    #course-lists.row.justify-content-md-center
      .col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
        .card.pds-card
          .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
              .d-flex.align-items-center
                span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                span.skeleton-box.rounded-pill(style='width:100px')
              span.skeleton-box.rounded-pill(style='width:20%;')
          .card-body
            h6.mb-0
              span.skeleton-box.mb-1(style='width:95%;')
              span.skeleton-box(style='width:80%;')
            div.mb-1
              span.skeleton-box(style='width:55%;')
            div
              .card-price.mb-1
                span.skeleton-box(style='width:30%;')
              .course-price.card-price.mb-1.color-secondary
                span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
              span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
              
      .col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
        .card.pds-card
          .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
              .d-flex.align-items-center
                span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                span.skeleton-box.rounded-pill(style='width:100px')
              span.skeleton-box.rounded-pill(style='width:20%;')
          .card-body
            h6.mb-0
              span.skeleton-box.mb-1(style='width:95%;')
              span.skeleton-box(style='width:80%;')
            div.mb-1
              span.skeleton-box(style='width:55%;')
            div
              .card-price.mb-1
                span.skeleton-box(style='width:30%;')
              .course-price.card-price.mb-1.color-secondary
                span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
              span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
              
      .col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
        .card.pds-card
          .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
              .d-flex.align-items-center
                span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                span.skeleton-box.rounded-pill(style='width:100px')
              span.skeleton-box.rounded-pill(style='width:20%;')
          .card-body
            h6.mb-0
              span.skeleton-box.mb-1(style='width:95%;')
              span.skeleton-box(style='width:80%;')
            div.mb-1
              span.skeleton-box(style='width:55%;')
            div
              .card-price.mb-1
                span.skeleton-box(style='width:30%;')
              .course-price.card-price.mb-1.color-secondary
                span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
              span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
              
      .col-12.col-md-6.col-xl-4.col-xxl-3.mb-4.mb-lg-5
        .card.pds-card
          .card-cover
            span.skeleton-box(style='width:100%; height: 100%;')
            .d-flex.card-cover-overlay.justify-content-between.align-items-center
              .d-flex.align-items-center
                span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')
                span.skeleton-box.rounded-pill(style='width:100px')
              span.skeleton-box.rounded-pill(style='width:20%;')
          .card-body
            h6.mb-0
              span.skeleton-box.mb-1(style='width:95%;')
              span.skeleton-box(style='width:80%;')
            div.mb-1
              span.skeleton-box(style='width:55%;')
            div
              .card-price.mb-1
                span.skeleton-box(style='width:30%;')
              .course-price.card-price.mb-1.color-secondary
                span.skeleton-box(style='width:40%;')
            .mt-3.row.justify-content-center.ps-3.pe-2
              span.skeleton-box.rounded.me-2(style='width:100%; height: 32px;')
              
    .row.justify-content-md-center
      .col-12.text-center
        button#load-more.btn.btn-ghost-primary.btn-lg.visually-hidden Muat Lebih Banyak