//- page nav 
section.section-cws-nav 
    .container 
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../kodecreative" title="Kode Creative Hub") 
                i.bi.bi-arrow-left
                | &nbsp;Kode Creative Hub

            a.col-6.cws-link-right(href="../confie" title="Confie Space") 
                | Confie Space &nbsp;
                i.bi.bi-arrow-right