// Hero start
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
      .col-12.d-flex.justify-content-center
        div.text-center
            h1.display-1.text-gradient-secondary 404
            h2 Halaman Tidak Ditemukan 
            a.btn.btn-primary.my-3(href="/index.html")
                | Kembali ke Beranda
// Hero end

