section
    .container.py-md-3.py-3.px-4.px-md-0
        .row.justify-content-center 
            .col-lg-10
                .d-flex.align-items-center
                    .page-cws-logo
                        img(src="../../img/cws-c-estubizi.webp", alt="Estubizi")
                    .ps-4 
                        h1.mb-1.mb-lg-4 Estubizi
                        span.text-secondary
                            i.bi.bi-geo-alt 
                            | Jakarta | Tangerang Selatan