//- Estubizi Jakarta
section
    .container.py-md-5.py-5.px-4.px-md-0
        h3.mb-4 Estubizi Jakarta
        .row 
            .col-lg-6.overflow-hidden
                //- carousel 
                .owl-carousel.cws-carousel.theme-sabrina.mb-5
                    div
                        img(src='../../img/cws-estubizi-jk-p1.webp' alt='Estubizi Jakarta')

            .col-lg-6 
                .mb-4 
                    h6.mb-1 Alamat
                    p Estubizi, Gedung Setiabudi 2 lantai 2, Suite 207 C, Jl. HR Rasuna Said Kav. 62, Jakarta 12920

                .mb-4 
                    h6.mb-1 Alamat Google Maps
                    p
                        a.link-primary(href="https://maps.app.goo.gl/7SBP169TDWDPFCRR6 " target="_blank") https://maps.app.goo.gl/7SBP169TDWDPFCRR6

                .mb-4 
                    h6.mb-1 Nomor Contact Center
                    p
                        a.link-primary(href="tel:+6282124006088") 0821-2400-6088

                .mb-4 
                    h6.mb-1 Program Diskon / Promo
                    p Diskon 20% per hari (daily pass)

                .mb-4 
                    h6.mb-1 Kapasitas Coworking (per hari)
                    p 8 - 25

        .row.mt-3 

            .col-lg-6.mb-4.mb-lg-0
                h5.mb-2 Pandunan Registrasi
                ol.pds-list 
                    li Hubungi Contact Center Estubizi melalui WA 
                        a.link-primary(href="https://wa.me/+6282124006088") 0821-2400-6088
                        | . 

            .col-lg-6 
                h5.mb-2 Syarat & Ketentuan
                p Kami buka dari Senin - Jumat dari jam 9:00 pagi sampai 6:00 sore. Kami hanya tutup pada Weekend & Public Holiday (Kecuali saat event). Fasilitas:
                ol.pds-list 
                    li Penerima Kartu Prakerja dapat menghubungi Contact Center Estubizi melalui WA  
                        a.link-primary(href="https://wa.me/+6282124006088") 0821-2400-6088
                        | .
                    li Sebutkan nama dan nomor identitas Peserta/Alumni Kartu Prakerja.