//- Section ketentuan umum 

section.section-highlight.mb-5.type-y100#ketentuan-umum
    .container.py-5
        .row.justify-content-md-center
            .px-4 
                .text-center.mb-3
                    h2 Ketentuan Umum 
                    p Untuk menikmati fasilitas tersebut, penerima Prakerja cukup mengikuti langkah berikut

                .row.pt-3
                    .col-12.col-md-4.card-highlight.type-2.p-4
                        .d-flex.align-items-center.mb-3
                            span.me-2 1
                            h5 Reservasi 
                        p 
                            | Proses pendaftaran/reservasi untuk menggunakan fasilitas ruang belajar harus mengikuti ketentuan yang ditetapkan oleh Mitra Coworking Space.

                    .col-12.col-md-4.card-highlight.type-2.p-4
                        .d-flex.align-items-center.mb-3
                            span.me-2 2
                            h5 Tunjukan Identitas 
                        p 
                            | Saat kedatangan (go show), Penerima Kartu Prakerja harus menunjukan;
                        p
                            ol
                                li Identitas (KTP/SIM); dan
                                li Dashboard Kartu Prakerja yang menampilkan nama penerima kepada resepsionis/pengelola.
                    
                    .col-12.col-md-4.card-highlight.type-2.p-4
                        .d-flex.align-items-center.mb-3
                            span.me-2 3
                            h5 Isi Absensi
                        p 
                            | Penerima Kartu Prakerja wajib mengisi absensi pada link berikut ini 
                            a.link-primary(href="https://qrco.de/prakerjacowork" title="Ketentuan Umum" target="_blank") qrco.de/prakerjacowork