//- Hero start 
section.section-standard
    .container.py-md-5.py-5.px-4.px-md-0
        <h1 class="mb-4">Coworking Space</h1>

        .row.d-flex
            .col-lg-6.mb-4
                p.paragraph-lg
                    | Manajemen Pelaksana Kartu Prakerja (MPPKP) menjalin kerja sama dengan Mitra Coworking Space untuk menyediakan ruang/fasilitas belajar bagi penerima Kartu Prakerja aktif dan alumni dengan harga terjangkau. Penerima Kartu Prakerja dapat mengakses fasilitas coworking space sesuai dengan ketentuan yang berlaku di lokasi yang dipilih.
                p
                    | Selengkapnya baca 
                    a.link-primary(href="#ketentuan-umum" title="Ketentuan Umum")
                        b Ketentuan Umum

            .col-lg-6.position-relative
                img.w-100(src=baseURL+'img/img-coworking-spaces.webp' alt='Mitra Prakerja Coworking Space')
                img.pattern-1(src=baseURL+'img/pattern-1.svg' alt='Prakerja')