//- gabung mitra Start
section.section-full-img.type-2
    .container.py-5.px-4.px-md-0.position-relative
        .box-wrapper.col-lg-6.col-xl-5.p-3.p-lg-4.rounded-3.mb-3
            h3 Gabung jadi Mitra Prakerja
            p Untuk Anda yang memiliki coworking space dan berminat untuk menjadi mitra Prakerja, ajukan kerja sama melalui link berikut ini
            a.btn.btn-ghost-primary(href="https://bit.ly/pengajuan_kerjasama_coworking" title="Gabung jadi Mitra Prakerja Coworking Space" target="_blank") Gabung Sebagai Mitra
        
        .full-img-cover.small
            img(src=baseURL+'img/bg-gabung-mitra-full.webp', alt="Gabung Mitra Prakerja Coworking Space")
            img.pattern-1(src=baseURL+'img/pattern-2.svg', alt="")
