//- page nav 
section.section-cws-nav 
    .container 
        .d-flex.cws-nav
            a.col-6.cws-link-left(href="../clapham" title="Clapham Collective") 
                i.bi.bi-arrow-left
                | &nbsp;Clapham Collective

            a.col-6.cws-link-right(href="../voffice" title="Colabo X VOffice") 
                | Colabo X VOffice &nbsp;
                i.bi.bi-arrow-right