//- Estubizi Jakarta
section
    .container.py-md-5.py-5.px-4.px-md-0
        //- h3.mb-4 
        .row.justify-content-center 
            .col-lg-10
                .row
                    .col-lg-6.overflow-hidden
                        //- carousel 
                        .owl-carousel.cws-carousel.theme-sabrina.mb-5
                            div
                                img(src='../../img/cws-confie-mk-p1.webp' alt='Confie Space Makassar')
                            div
                                img(src='../../img/cws-confie-mk-p2.webp' alt='Confie Space Makassar')
                            div
                                img(src='../../img/cws-confie-mk-p3.webp' alt='Confie Space Makassar')
                            div
                                img(src='../../img/cws-confie-mk-p4.webp' alt='Confie Space Makassar')

                    .col-lg-6 
                        .mb-4 
                            h6.mb-1 Alamat
                            p Penjernihan Raya Kompleks PDAM No. 7, Makassar

                        .mb-4 
                            h6.mb-1 Alamat Google Maps
                            p
                                a.link-primary(href="https://goo.gl/maps/JJHAWGxi8jxTYf299" target="_blank") https://goo.gl/maps/JJHAWGxi8jxTYf299

                        .mb-4 
                            h6.mb-1 Nomor Contact Center
                            p
                                a.link-primary(href="tel:+6282122122773") 0821-2212-2773

                        .mb-4 
                            h6.mb-1 Program Diskon / Promo
                            p Diskon 20% per hari (daily pass) 
                            p 
                                sup *
                                | Khusus Penerima Prakerja Berlaku untuk tiga (3) hari pertama, setelah itu akan berlaku harga normal

                        .mb-4 
                            h6.mb-1 Kapasitas Coworking (per hari)
                            p 26 (Indoor) & 20 (Outdoor)

        .row.mt-3.justify-content-center 

            .col-lg-10.mb-4.mb-lg-4
                h5.mb-2 Pandunan Registrasi
                ol.pds-list 
                    li Penerima Kartu Prakerja menunjukkan KTP dan Nomor Kartu Prakerja.
                    li Menunjukkan Kelas (Live Webinar) yang akan di ikuti.
                    li Setelah pengecekan oleh Resepsionis, penerima bisa mendapatkan potongan atau diskon sebesar 20%.

            .col-lg-10 
                h5.mb-2 Syarat & Ketentuan
                p Kami buka dari Senin - Jumat dari jam 9:00 pagi sampai 6:00 sore. Kami hanya tutup pada Weekend & Public Holiday (Kecuali saat event). Fasilitas:
                ol.pds-list 
                    li Menunjukkan Identitas (KTP & ID Kartu Prakerja).
                    li Menunjukkan kelas yang akan diikuti.
                    li Membuat dan mengupload story saat mengikuti kelas di Confie Space, dan tag akun instagram 
                       a.link-primary(target="_blank" href="https://www.instagram.com/confie.space/")  @confie.space 
                       | & 
                       a.link-primary(target="_blank" href="https://www.instagram.com/confie.indonesia/")  @confie.indonesia.