section.pt-5
    .container.pt-md-5.pt-5.px-4.px-md-0
        nav(aria-label="breadcrumb")
            ol.breadcrumb 
                li.breadcrumb-item 
                    a(href="#")
                        i.bi.bi-house-door
                li.breadcrumb-item 
                    a(href="#") Pelatihan 
                li.breadcrumb-item.active
                    | $namaPelatihan