section.section-detail-course
    .container.py-5.px-4.px-md-0
        .row.flex-row-reverse
            // thumbnail & cta
            .col-12.col-md-4.col-lg-4
                img.w-100.rounded(src=baseURL+"img/course-1.jpeg", alt="")
                div.mt-3
                    .course-real-price.mb-1
                        span.me-1 Rp 200.000
                        span.badge.text-bg-ghost-success 50%
                    .course-price.card-price.mb-1.color-secondary.fs-4 Rp 100.000

                div.course-cta.px-3.px-lg-0
                    button.my-3.btn.btn-primary.btn-lg(data-bs-toggle="modal" data-bs-target="#getCourseNotLoginModal")
                        | Dapatkan Voucher Pelatihan 
                p.text-secondary
                    b.fs-7 103
                    | &nbsp; peserta mengambil pelatihan ini
                button.btn.btn-light.share-button.mb-3(type="button" title="Bagikan halaman ini")
                    i.bi.bi-share &nbsp;
                    | bagikan


            // detail course content
            .col-12.col-md-8.col-lg-8.pe-xl-4
                h1.mb-3 Melakukan Digital Marketing Dengan Target Market Untuk Menjadi Spesialis Pemasaran

                a.card-company-link.d-inline-flex.p-2.text-decoration-none(href="#")
                    img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
                    span.lp-name.fs-7.text-secondary Thunderbird School Of Global Management, Arizona State University

                .row.mt-5.mb-4 

                    //- .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                    //-     i.bi.bi-buildings
                    //-     div.ps-2.overflow-hidden
                    //-         h6.fs-7.mb-1
                    //-             | Lembaga Pelatihan
                    //-         a.card-company-link(href="#")
                    //-             img.me-2.card-logo(src=baseURL+"img/logo-rk.svg")
                    //-             span.fs-7.pds-truncate Thunderbird School Of Global Management, Arizona State University

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-person-badge
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Instruktur
                            p.fs-7 Yunita

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-clock 
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Durasi Pelatihan
                            p.fs-7 697 Menit

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-person-video 
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Metode Ajar
                            span.badge.rounded-pill.text-bg-warning Daring LMS

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-tag 
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Kategori
                            p.fs-7 Penjualan dan Pemasaran


                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-ticket-detailed 
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Kuota Pelatihan
                            p.fs-7 
                                | 1.000
                                i &nbsp;(Selama masih tersedia)

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-link-45deg
                        div.ps-2.overflow-hidden
                            h6.fs-7.mb-2
                                | Link Pelatihan
                            a.fs-7.d-flex.align-items-center(href="#") 
                                span.pds-truncate https://www.karier.mu/program/melakukan-digital-marketing-dengan-iklan-sosial-media-untuk-menjadi-spesialis-pemasaran
                                i.bi.bi-arrow-up-right-square-fill

                hr

                article
                    section.py-3
                        h4.mb-4 Deskripsi Pelatihan 
                        p 
                            | Pelatihan Online Melakukan Digital Marketing Dengan Iklan Sosial Media Untuk Menjadi Spesialis Pemasaran dibuat sesuai rujukan Okupasi ( KBJI 2431.03 ) Spesialis Pemasaran. 
                        p
                            
                            | Pada Kelas ini sangat relevan untuk pemula / tingkat dasar yang memiliki peranan sangat penting bagi seorang Spesialis Pemasaran. Namun, masih banyak orang yang belum mengetahui cara  mempromosikan barang dan jasa melalui internet dengan Digital Marketing menggunakan iklan sosial media. 
                        p
                        
                            | Digital Marketing adalah  suatu aktivitas promosi, baik untuk mempromosikan sebuah brand, produk maupun jasa menggunakan media digital. Dalam pelatihan ini akan dibahas teori digital marketing dan praktek mempromosikan barang dan jasa melalui internet dan iklan sosial media. Diawali dengan meriset target market dan produk, Memahami channel marketing yang tepat untuk menunjang keberhasilan pemasaran produk , Membuat konten marketing, Membuat Copywriting, Memahami cara mendatangkan traffic ke channel marketing dan Membuat iklan promosi sosial media secara mandiri dan professional.
                        p
                        
                            | Dengan demikian, anda akan lebih mudah dan cepat untuk mempromosikan barang dengan digital marketing. Setelah menyelesaikan pelatihan ini anda akan mempunyai kompetensi yang relevan dengan jenis pekerjaan dibidang spesialis pemasaran, digital marketing , tenaga pemasaran dan periklanan. 
                        p
                        
                            | Pelatihan online ini menggunakan metode Self-Paced Learning yakni ceramah, demonstrasi + demo praktek, membaca handout/ebook, Pre/Post-test, Kuis Formatif, Uji Praktik Mandiri (study kasus), Sesi Konsultasi dengan Fasilitator dan Diskusi.
                    
                    section.py-3
                        h4.mb-4 Cara Redeem Voucher
                        p Tata Cara Redeem Voucher:
                        ol 
                            li.mb-2  Langkah 1 : Log in ke karier.mu
                            li.mb-2  Langkah 2 : Masuk ke "https://www.karier.mu/program/melakukan-digital-marketing-dengan-iklan-sosial-media-untuk-menjadi-spesialis-pemasaran"
                            li.mb-2  Langkah 3 : Klik "Lanjut Pembayaran"
                            li.mb-2  Langkah 4 : Masukkan kode voucher pada kolom yang tersedia 
                            li.mb-2  Langkah 5 : Klik "Gunakan" dan Klik "Lanjutkan"
                            li.mb-2  Langkah 6 : Klik “Belajar Sekarang” dan program yang dibeli dapat dilihat juga pada menu “Programmu”


                    hr



            